openapi: 3.1.0
info:
  title: Manage voice apps
  version: '2.0'
  summary: Manage voice apps under a Sonetel account
  description: |-
    # Manage voice apps

    Voice applications in your account can be managed using the `/account/{accountid}/voiceapp` resource.

    You can not only create new voice apps but also customize default apps, add your voice messages and much more. In case of IVRs, you can also change the action taken when the caller selects an option from the main menu i.e. connect the call to a phone number, forward to a user, SIP address or another voice app.

    Every voice app has a `voice` field, which controls the language, accent and gender of the voice that the callers hear when interacting with it. For example, if you wish to play the messages in English but with a UK accent, you can set the `voice` property to `en-uk-fe`.

    Sonetel provides ready-to-use default messages that can be used in your voice app. Additionally, messages in a voice app can be customized by replacing the default messages with your own. When an account is created, two default voice apps, an ivr and voicemail are automatically created.

    ### Type of voice apps

    At the moment the following type of voice apps can be managed using the API:

    Voice app types | Description
    --------------|------------
    ivr | An Interactive Voice Response app allows you to play a set of pre-recorded messages to your callers. It provides the callers with multiple options such as "*Select 1 for sales, 2 for support...*".<br>You can choose what action to take when the caller selects each option from 0 - 9.
    mailbox | This is a voicemail box that is available on an account level i.e. it can be used for a team or department in your company.<br>For example, if you have a separate phone number for the Sales team, then it can be connected to the sales voicemail box and the email sent to a common email address such as sales@example.com.
    sysprompt | These are error prompts played when an invalid action takes place, for example the caller selects an invalid option in the IVR.

    #### Announcements

    On our [web app](https://app.sonetel.com), you will find *Announcements* as another voice app type. It is a special type of IVR that only plays the welcome message before connecting the caller to the destination - the main menu is disabled by default.
     
    Create an announcement by adding a new IVR where `play_menu` & `get_extension` are disabled and the `final_action` is set to handle the call as required (i.e. connect to your mobile, a user, etc).

    Announcements are useful when you want to play a short message before connecting the call to a destination. For example, before the incoming call is forwarded to your mobile phone, you want the caller to hear "Welcome to Company name, please wait while we connect your call".

    ### Connect calls to a voice app
     
    To connect your phone number to a voice app, you can issue a PUT request to `/account/{accountid}/phonenumbersubscription/{phnum}` and change the destination to `app`. Please refer to the "Update number settings" endpoint under **Phone numbers** for more information.

    > **Important**
    > 
    > Only phone numbers that have the [business package](https://sonetel.com/business-package/) enabled or that are free with [Premium](https://sonetel.com/premium) can be connected to voice apps.

    #### Connect phone numbers outside Sonetel to voice app

    To use a voice app with a phone number not part of your Sonetel account, you can use the voice app's SIP URI.

    Issue a GET request to `/voiceapp` endpoint, the response contains the `sip_address` property that can be used to connect calls to this app over SIP.

    <!-- theme: warning -->
    > The ability to connect to voice apps using their SIP address is currently unavailable. We hope to make it available in the near future.

    ### Prompts

    A prompt represents a message played to a caller in a voice app. For example, when someone connects to a voicemail box, they hear the message "The person you are trying to call is currently unavailable...". This message that you hear is a prompt.

    When a voice app, such as an IVR, is created it already has default prompts associated with it. This makes the voice app ready to use. However, if you wish to change the message in a default prompt, you can do so by replacing the default message with your own message.
    On the other hand, if you wish to add a new prompt (let's say for a promotional offer) you can create a new prompt i.e. a "custom prompt" and add the required voice message to it.

    Each prompt has a unique `prompt_id`, through which it is referenced in the voice app.

    The `prompt_id` can be specified in the action properties in the voice app to have the voice message played under defined condition. For example, play (*action*) a specific prompt (*prompt_id*) when digit 3 is pressed (*condition*) by the user.

    #### Voice message

    A voice message is the main part of a prompt - it represents the actual audio that is played to the caller.

    After the prompt has been created, a voice message file can be uploaded to the prompt. The uploaded file is then set as its voice message.

    When a voice app is created, default prompts in a voice app are automatically created along with it. For all default prompts, Sonetel provides standard pre-recorded voice messages. The `voice` setting in the voice app defines the language and the corresponding standard voice message that is played when the prompt is used.

    For example, in the voiceapp's properties if you set the `voice` to `en`, the prompt that plays a welcome message to the caller, would play the audio message in an English, male voice. If you change the voice to “se”, the message changes to the equivalent message in a Swedish, male voice.
    <br>
    ##### Record a voice message

    A voice message file can be changed by either calling in to the prompt recording function from your Sonetel account or simply uploading a pre-recorded audio file to the `/prompt` resource.

    The instructions for uploading your pre-recorded messages are provided in the *Add custom message to a prompt* section.

    To use the prompt recording function, you first need to connect to a SIP phone such as Zoiper. Once connected, follow these instructions:
      1. Place a SIP call to the prompt's `record_path` which looks like `record#PROMPT_ID@prompts.sonetel.com`.
      2. Start speaking after you hear a beep.
      3. Once you have finished speaking, press # and follow the instructions to save the recorded message.

    > To listen to a voice message, call the prompt's `play_path` from a SIP phone or download the audio file (.wav) from the `message_url`.

    > Default prompts can also be customized in the same way as custom prompts, by uploading a voice file or via the prompt recording function.
  contact:
    name: Sonetel API Support
    email: api.support@sonetel.com
  termsOfService: 'https://sonetel.com/en/help/help-topics/terms-conditions/terms-conditions/'
servers:
  - url: 'https://public-api.sonetel.com'
    description: Production
paths:
  '/account/{accountid}/voiceapp':
    parameters:
      - schema:
          type: string
        name: accountid
        in: path
        required: true
        description: Your Sonetel account ID
    get:
      summary: Get all voice apps
      tags: []
      responses:
        '200':
          $ref: '#/components/responses/List-voiceapps'
        '401':
          description: Unauthorized
      operationId: get-voiceapps-account
      description: |-
        # Get all voice apps

        Issue a GET request to `/account/{accountid}/voiceapp` to fetch a list of all the voice apps in your account.

        The response contains the properties of all the voice apps in your account including their unique `app_id`.
      parameters:
        - schema:
            type: string
          in: header
          name: Authorization
          description: Bearer <access_token>
          required: true
    post:
      summary: Create new voice app
      operationId: create-voiceapp-account
      responses:
        '200':
          $ref: '#/components/responses/Voiceapp-response'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Voiceapp'
        description: ''
      parameters:
        - schema:
            type: string
          in: header
          name: Authorization
          description: Bearer <access_token>
          required: true
        - schema:
            type: string
          in: header
          name: Content-Type
          description: application/json
          required: true
      description: |
        # Create new voice app

        In addition to the default voice apps available in your Sonetel account, you can create new voice apps as well by issuing a POST request to the voice app list resource i.e. `POST https://public-api.sonetel.com/account/{accountid}/voiceapp`.

        The body of the request must contain a JSON representation of the app's properties such as its name and type. These are described in details below.

        The response to a successful request carries the resource representation of the newly created voice app.
  '/account/{accountid}/voiceapp/{voiceappid}':
    parameters:
      - schema:
          type: string
        name: accountid
        in: path
        required: true
        description: Your Sonetel account ID
      - schema:
          type: string
        name: voiceappid
        in: path
        required: true
        description: The unique ID of the voice app you wish to manage.
    get:
      summary: Get voice app by ID
      operationId: get-account-voiceappid
      responses:
        '200':
          $ref: '#/components/responses/Voiceapp-response'
      parameters:
        - schema:
            type: string
          in: header
          name: Authorization
          description: Bearer <access_token>
          required: true
      description: |-
        # Get voice app by ID

        Get the properties of a specific voice app using its unique `app_id` i.e. `GET https://public-api.sonetel.com/account/{accountid}/voiceapp/{voiceappid}`.

        The response contains a JSON representation of the app's properties. The properties in the response will vary based on the type of voice app.

        #### Get the app_id

        To get the `app_id` of a specific voice app, issue a GET request to `/account/{accountid}/voiceapp`.

        This will return a list of all the voice apps in your Sonetel account. 
    put:
      summary: Update voice app by ID
      operationId: update-account-voiceappid
      responses:
        '200':
          $ref: '#/components/responses/Voiceapp-response'
      description: |
        # Update voice app by ID

        Voice apps can be updated by issuing a PUT to the `/voiceapp` resource. For example, `PUT https://public-api.sonetel.com/account/{accountid}/voiceapp/{voiceappid}`.

        The voice app's name, voice, actions, etc can be updated. A list of the properties that can be updated is given below.

        > Not all the properties are available in the all the voice apps. Some of them will only be available in specific apps such as `sysprompt` or `mailbox` - this is mentioned in the property's description.

        A successful response will return the updated resource.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Voiceapp'
      parameters:
        - schema:
            type: string
          in: header
          name: Authorization
          description: Bearer <access_token>
          required: true
        - schema:
            type: string
          in: header
          name: Content-Type
          description: application/json
          required: true
    delete:
      summary: Delete a voice app
      operationId: delete-account-voiceappid
      parameters:
        - schema:
            type: string
          in: header
          name: Authorization
          description: Bearer <access_token>
      description: |-
        # Delete a voice app

        Voice apps can be deleted by issuing a DELETE to the `/voiceapp` resource i.e. `DELETE https://public-api.sonetel.com/account/{accountid}/voiceapp/{voiceappid}`

        <!-- theme: warning -->
        > Deleting a voice app is permanent. It is not possible to restore voice apps once they are deleted.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    resource: voiceapp
                    status: success
                    response: Voice App deleted successfully
                properties:
                  resource:
                    type: string
                    description: Name of the resource accessed. For example `voiceapp`.
                    readOnly: true
                  status:
                    type: string
                    description: Status of the request i.e. success or failed.
                    enum:
                      - success
                      - failed
                    readOnly: true
                  response:
                    type: string
                    description: Details of the response.
                    readOnly: true
              examples:
                Example:
                  value:
                    resource: voiceapp
                    status: success
                    response: Voice App deleted successfully
  '/account/{accountid}/voiceapp/{voiceappid}/prompt':
    post:
      summary: Create a custom prompt
      operationId: post-user
      responses:
        '200':
          $ref: '#/components/responses/List-prompt'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Create-Prompt'
            examples: {}
        description: ''
      description: |-
        # Create a custom prompt

        You can create one or more custom prompts under a voice app. A custom prompt is a short message that you want your callers to hear under certain conditions.

        For example, if you frequently run sales and promotional offers, you can add a custom prompt for this. The voice message linked to this custom prompt can then be updated whenever you have a new promo or when an ongoing promo ends.

        When creating the prompt, you can only specify its name. The voice message linked to it can only be added after the prompt has beens successfully created.

        The voice message associated with a prompt can be setup in different ways. You can upload an audio file with the voice message, record the voice message by calling in to our recording service or use our paid text-to-speech service.

        Creating a prompt and associating a voice message with it is a as a two-step process:

        1. The first step involves creation of the prompt resource. This is done by issuing a POST to the prompt resource. The prompt's name must be specified as a parameter in the request.<br>At this stage, the prompt does not have any voice message associated to it and is not usable in the voice app.
        2. To attach a voice message to the prompt, you can either upload a pre-recorded wav file or dial *22 from your Sonetel account, enter the `record_id` of the prompt and record it.

        ### Flow for creating a new prompt

        Here is a sample flow where we create a new custom prompt and upload a pre-recorded audio file to it.

        #### Step 1 - create prompt

        ```c
        curl \
          --location \
          --request POST 'https://public-api.sonetel.com/account/{accountid}/voiceapp/{voiceappid}/prompt?name=Christmas Promo' \
          --header 'Authorization: Bearer <ACCESS_TOKEN>'
        ```

        > A success response will return the JSON representation of the newly created prompt. Make a note of the `prompt_id` for use in step 2.

        #### Step 2 - upload voice message

        ```c
        curl \
          --location \
          --request POST 'https://public-api.sonetel.com/prompt/{promptid}/message' \
          --header 'Accept: application/json, text/plain, */*' \
          --header 'Authorization: Bearer <ACCESS_TOKEN>' \
          --header 'Content-Type: multipart/form-data; boundary={boundary_id}'
          --form 'file=@"{/path/to/file}"'
        ```
        An alternative to uploading a pre-recorded message is recording your own message by calling in via SIP. Place a SIP call to the prompt's `record_path` (which is just a SIP address), record your message and press # once done.

        Similarly, to listen to the recording, call the prompt's `play_path`.
      parameters:
        - schema:
            type: string
          in: header
          name: Authorization
          description: Bearer <access_token>
          required: true
        - schema:
            type: string
          in: header
          name: Content-Type
          required: true
          description: application/json
    get:
      summary: List prompts linked to voice app
      operationId: get-user
      responses:
        '200':
          $ref: '#/components/responses/List-prompt'
      parameters:
        - schema:
            type: string
          in: header
          name: Authorization
          description: Bearer <access_token>
          required: true
      description: |-
        # List prompts linked to voice app

        A prompt represents a voice message in a voice app such as the welcome message in an IVR.

        Use this endpoint to get a list of all the prompts associated with a voice app as shown in the example below.

        Request:
        ```c
        curl \
          --location \
          --request GET 'https://public-api.sonetel.com/account/{accountid}/voiceapp/{voiceappid}/prompt?fields=message' \
          --header 'Authorization: Bearer <ACCESS_TOKEN>'
        ```

        Response:
        ```json
        {
            "resource": "prompt",
            "status": "success",
            "response": [
                {
                    "prompt_id": "PRio9aaaaaaa",
                    "type": "standard",
                    "name": "Welcome",
                    "app_id": "VA9azaabbcc",
                    "account_id": "20000000",
                    "record_id": "7001",
                    "exists": true,
                    "file_name": "response.wav",
                    "file_details": "Uploaded",
                    "play_path": "play#PRio9aaaaaaa@prompts.sonetel.com",
                    "record_path": "record#PRio9aaaaaaa@prompts.sonetel.com",
                    "audio_length": "10.0",
                    "size": "157.92",
                    "message_url": "https://audio-prompts.sonetel.com/PRio9aaaaaaa-00000000-aaaa-0000-a000-0a0aa00a000a.wav",
                    "create_date": "20210727T00:00:00Z"
                },
                {
                    "prompt_id": "PRio9aaaaaa4",
                    "type": "standard",
                    "name": "Please wait",
                    "app_id": "VA9zzxxyyaa",
                    "account_id": "20000000",
                    "record_id": "7008",
                    "exists": true,
                    "file_name": "",
                    "play_path": "play#PRio9aaaaaa4@prompts.sonetel.com",
                    "record_path": "record#PRio9aaaaaa4@prompts.sonetel.com",
                    "audio_length": "2",
                    "size": "",
                    "message_url": "https://audio-prompts.sonetel.com/standard/en/sonetel/please_wait.wav",
                    "create_date": ""
                }
            ]
        }
        ```
    parameters:
      - schema:
          type: string
        name: accountid
        in: path
        required: true
        description: Your Sonetel account ID
      - schema:
          type: string
        name: voiceappid
        in: path
        required: true
        description: The unique ID of the voice app you wish to manage
  '/account/{accountid}/voiceapp/{voiceappid}/prompt/{promptid}':
    parameters:
      - schema:
          type: string
        name: accountid
        in: path
        required: true
        description: Your Sonetel account ID
      - schema:
          type: string
        name: voiceappid
        in: path
        required: true
        description: Unique ID of the voice app you wish to manage
      - schema:
          type: string
        name: promptid
        in: path
        required: true
        description: Unique ID of the voice prompt you wish to manage
    get:
      summary: Get prompts by ID
      tags: []
      operationId: get-voiceapp-prompt-id
      description: |
        # Get prompts by ID

        Use this endpoint to get the details of a specific prompt using its `prompt_id`.

        To get a list of all the prompts associated with a voice app, issue a GET request to `/account/{accountid}/voiceapp/{voiceappid}/prompt`. The response returns a JSON representation of all the prompts with their properties.

        ### Prompt message details

        In order to fetch the details of the voice message linked to the prompt, add the query parameters `?fields=message` to the GET request.

        Example:

        ```c
        curl \
        --location --request GET \
        'https://public-api.sonetel.com/account/{accountid}/voiceapp/{voiceappid}/prompt/{promptid}?fields=message' \
        --header 'Content-Type: application/json' \
        --header 'Authorization: Bearer <ACCESS_TOKEN>'
        ```
      parameters:
        - schema:
            type: string
          in: header
          name: Authorization
          description: Bearer <access_token>
          required: true
        - schema:
            type: string
            default: message
          in: query
          name: fields
          description: Include the message details in the response by adding this query parameter to the API call.
      responses:
        '200':
          $ref: '#/components/responses/List-prompt'
        '404':
          description: Not Found
    put:
      summary: Update prompt by ID
      operationId: Replace-voiceapp-promptid
      responses:
        '200':
          description: OK
      parameters:
        - schema:
            type: string
          in: header
          name: Authorization
          description: Bearer <access_token>
          required: true
      description: |-
        Update the prompt by issuing a PUT request to the `/prompt/{promptid}` endpoint.

        At the moment, it is only possible to update the name of a prompt.

        > The voice message played by the prompt can be updated by issuing a POST request to the `/prompt/{promptid}/message` endpoint. This is described in detail in the section **Add custom message to a prompt**.
    delete:
      summary: Delete a custom prompt
      operationId: delete-voiceapp-promptid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    resource: prompt
                    status: success
                    response: Prompt deleted successfully
                properties:
                  resource:
                    type: string
                    minLength: 1
                    description: Name of the resource accessed i.e. prompt
                  status:
                    type: string
                    minLength: 1
                    description: Status of the request i.e. success or failed
                  response:
                    type: string
                    minLength: 1
                    description: Details of the response.
              examples:
                Example:
                  value:
                    resource: prompt
                    status: success
                    response: Prompt deleted successfully
      parameters:
        - schema:
            type: string
          in: header
          name: Authorization
          description: Bearer <access_token>
          required: true
      description: |-
        # Delete a custom prompt

        Prompts that you have created, i.e. custom prompts can be deleted by issuing a DELETE to the prompt resource, either using the full URL or the short URL.

        To delete using the full path URL use:
        `DELETE https://public-api.sonetel.com/account/{accountid}/voiceapp/{voiceappid}/prompt/{promptid}`

        Response to a successful method call carries a string with confirmation.

        <!-- theme: warning -->
        > It is not possible to delete the default prompts added to the voice app automatically when it is created.
  '/prompt/{promptid}/message':
    post:
      summary: Add custom message to a prompt
      operationId: upload-message
      responses:
        '200':
          $ref: '#/components/responses/List-prompt'
      description: |-
        # Add custom message to a prompt

        Use this endpoint to add a voice message to a newly created prompt or update an existing prompt.

        To upload the message, issue a POST request to `/prompt/{promptid}/message` with the Content-Type as `multipart/form-data`.

        You can get the `promptid` by issuing a GET request to the `/account/{accountid}/voiceapp/{voiceappid}/prompt` endpoint.

        Here is a sample cURL request. A successful response contains details of the updated prompt.

        ```c
        curl \
          --location \
          --request POST 'https://public-api.sonetel.com/prompt/{promptid}/message' \
          --header 'Accept: application/json, text/plain, */*' \
          --header 'Authorization: Bearer <ACCESS_TOKEN>' \
          --header 'Content-Type: multipart/form-data; boundary={boundary_id}'
          --form 'file=@"{/path/to/file}"'
        ```

        ### Other ways to change a voice message

        In addition to uploading a pre-recorded audio file, you can also use our recording function to change the voice message for a prompt.

        Follow these instructions to record the prompt in your own voice.

          1. Issue a GET request to `/account/{accountid}/voiceapp/{voiceappid}/prompt` and note down the prompt's `record_path`. It will look like `record#PROMPT_ID@prompts.sonetel.com`.<br>The record path is a SIP address that you can call in order to record a specific prompt.
          2. Register your Sonetel account using a SIP phone (such as Zoiper) and call the `record_path`
          3. Start speaking after you hear a beep.<br>For best results, make sure you are in a quiet room and using a good quality microphone.
          3. Once you have finished speaking, press # and follow the instructions in the call to save, discard or listen to the recorded message.

        > To listen to the existing voice message linked to a prompt, call the prompt's `play_path` from a SIP phone or download the audio file (.wav) from the `message_url`.

        > Default prompts can also be customized in the same way as custom prompts, by uploading a voice file or via the prompt recording function.
      parameters:
        - schema:
            type: string
          in: header
          name: Content-Type
          required: true
          description: multipart/form-data; boundary=<boundary_id>
        - schema:
            type: string
          in: header
          name: Authorization
          description: Bearer <access_token>
          required: true
      requestBody:
        content:
          multipart/form-data:
            schema:
              allOf: []
        description: ''
    parameters:
      - schema:
          type: string
        name: promptid
        in: path
        required: true
        description: The unique ID of the prompt you wish to update.
components:
  schemas:
    Voiceapp:
      description: ''
      type: object
      x-examples:
        example-1:
          app_type: ivr
          play_menu: 'yes'
          name: Sai test menu
      examples:
        - app_type: ivr
          play_menu: 'yes'
          name: company main menu
          voice: en
          play_welcome: 'yes'
          get_extension: 'yes'
          menu:
            digit_0:
              action: connect
              to: app
              id: cD012dhgaut
            digit_1:
              action: call
              to: user
              id: '2000000000'
            digit_2:
              action: call
              to: other
              id: '+12025550000'
            digit_3:
              action: play
              to: prompt
              id: abcD3456
            digit_4:
              action: ''
              to: ''
              id: ''
            digit_5:
              action: ''
              to: ''
              id: ''
            digit_6:
              action: ''
              to: ''
              id: ''
            digit_7:
              action: ''
              to: ''
              id: ''
            digit_8:
              action: ''
              to: ''
              id: ''
            digit_9:
              action: ''
              to: ''
              id: ''
            timeout:
              action: call
              to: other
              id: '+12025550000'
        - name: Main VoiceMail
          app_type: mailbox
          voice: en-fe
          greeting_prompt: 'yes'
          goodbye_prompt: 'yes'
          deliver_to: email
          deliver_to_details: user@example.com
      title: ''
      properties:
        app_type:
          type: string
          description: The type of voice app being created.
          enum:
            - ivr
            - mailbox
            - sysprompt
        play_menu:
          type: string
          description: A flag that indicates if the interactive voice menu function(receive digits from callers to take actions) is active or not.
        name:
          type: string
          description: The name of the voice app
        voice:
          type: string
          description: The set of pre-recorded voice prompts for the voice app
          enum:
            - en
            - swe
            - spa
            - hin-fe
            - tam-fe
            - tel-fe
            - en-fe
            - gr-fe
            - en-uk-fe
            - fr-fe
            - ara-fe
        play_welcome:
          type: string
          description: A flag that indicates if the welcome message is played or not.
          enum:
            - 'yes'
            - 'no'
        get_extension:
          type: string
          description: A flag that indicates if the auto-attendant function is active.
          enum:
            - 'yes'
            - 'no'
        final_action:
          type: object
          description: |-
            The final action that is taken in case the menu (represented by `play_menu`) is not active.

            This property can only be set if `play_menu` is set to `no`.
          properties:
            action:
              type: string
              description: The final action to take once the caller has heard the welcome message.
              enum:
                - play
                - connect
                - call
            to:
              type: string
              enum:
                - user
                - other
                - prompt
                - app
              description: 'The destination type where the call should be connected. For example, user.'
            id:
              type: string
              description: 'A unique ID to identify the destination. For example, if the `to` field is user then `id` will be the user''s unique ID.'
        menu:
          type: object
          description: The voice response menu that defines the digits and the actions taken on each digit press
          properties:
            digit_0:
              type: object
              description: Action to be taken when the caller selects option 0 in the IVR.
              properties:
                action:
                  type: string
                  description: Action to take when the menu item is selected by the caller.
                  enum:
                    - play
                    - connect
                    - call
                to:
                  type: string
                  description: 'The destination type where the call should be connected. For example, user.'
                  enum:
                    - user
                    - other
                    - prompt
                    - app
                id:
                  type: string
                  description: 'A unique ID to identify the destination. For example, if the `to` field is user then `id` will be the user''s unique ID.'
              required:
                - action
            digit_1:
              type: object
              description: Action to be taken when the caller selects option 1 in the IVR.
              properties:
                action:
                  type: string
                  description: Action to take when the menu item is selected by the caller.
                  enum:
                    - play
                    - connect
                    - call
                to:
                  type: string
                  description: 'The destination type where the call should be connected. For example, user.'
                  enum:
                    - user
                    - other
                    - prompt
                    - app
                id:
                  type: string
                  description: 'A unique ID to identify the destination. For example, if the `to` field is user then `id` will be the user''s unique ID.'
              required:
                - action
            digit_2:
              type: object
              description: Action to be taken when the caller selects option 2 in the IVR.
              properties:
                action:
                  type: string
                  description: Action to take when the menu item is selected by the caller.
                  enum:
                    - play
                    - connect
                    - call
                to:
                  type: string
                  description: 'The destination type where the call should be connected. For example, user.'
                  enum:
                    - user
                    - other
                    - prompt
                    - app
                id:
                  type: string
                  description: 'A unique ID to identify the destination. For example, if the `to` field is user then `id` will be the user''s unique ID.'
              required:
                - action
            digit_3:
              type: object
              description: Action to be taken when the caller selects option 3 in the IVR.
              properties:
                action:
                  type: string
                  description: Action to take when the menu item is selected by the caller.
                  enum:
                    - play
                    - connect
                    - call
                to:
                  type: string
                  description: 'The destination type where the call should be connected. For example, user.'
                  enum:
                    - user
                    - other
                    - prompt
                    - app
                id:
                  type: string
                  description: 'A unique ID to identify the destination. For example, if the `to` field is user then `id` will be the user''s unique ID.'
              required:
                - action
            digit_4:
              type: object
              description: Action to be taken when the caller selects option 4 in the IVR.
              properties:
                action:
                  type: string
                  description: Action to take when the menu item is selected by the caller.
                  enum:
                    - play
                    - connect
                    - call
                to:
                  type: string
                  description: 'The destination type where the call should be connected. For example, user.'
                  enum:
                    - user
                    - other
                    - prompt
                    - app
                id:
                  type: string
                  description: 'A unique ID to identify the destination. For example, if the `to` field is user then `id` will be the user''s unique ID.'
              required:
                - action
            digit_5:
              type: object
              description: Action to be taken when the caller selects option 5 in the IVR.
              properties:
                action:
                  type: string
                  description: Action to take when the menu item is selected by the caller.
                  enum:
                    - play
                    - connect
                    - call
                to:
                  type: string
                  description: 'The destination type where the call should be connected. For example, user.'
                  enum:
                    - user
                    - other
                    - prompt
                    - app
                id:
                  type: string
                  description: 'A unique ID to identify the destination. For example, if the `to` field is user then `id` will be the user''s unique ID.'
              required:
                - action
            digit_6:
              type: object
              description: Action to be taken when the caller selects option 6 in the IVR.
              properties:
                action:
                  type: string
                  description: Action to take when the menu item is selected by the caller.
                  enum:
                    - play
                    - connect
                    - call
                to:
                  type: string
                  description: 'The destination type where the call should be connected. For example, user.'
                  enum:
                    - user
                    - other
                    - prompt
                    - app
                id:
                  type: string
                  description: 'A unique ID to identify the destination. For example, if the `to` field is user then `id` will be the user''s unique ID.'
              required:
                - action
            digit_7:
              type: object
              description: Action to be taken when the caller selects option 7 in the IVR.
              properties:
                action:
                  type: string
                  description: Action to take when the menu item is selected by the caller.
                  enum:
                    - play
                    - connect
                    - call
                to:
                  type: string
                  description: 'The destination type where the call should be connected. For example, user.'
                  enum:
                    - user
                    - other
                    - prompt
                    - app
                id:
                  type: string
                  description: 'A unique ID to identify the destination. For example, if the `to` field is user then `id` will be the user''s unique ID.'
              required:
                - action
            digit_8:
              type: object
              description: Action to be taken when the caller selects option 8 in the IVR.
              properties:
                action:
                  type: string
                  description: Action to take when the menu item is selected by the caller.
                  enum:
                    - play
                    - connect
                    - call
                to:
                  type: string
                  description: 'The destination type where the call should be connected. For example, user.'
                  enum:
                    - user
                    - other
                    - prompt
                    - app
                id:
                  type: string
                  description: 'A unique ID to identify the destination. For example, if the `to` field is user then `id` will be the user''s unique ID.'
              required:
                - action
            digit_9:
              type: object
              description: Action to be taken when the caller selects option 9 in the IVR.
              properties:
                action:
                  type: string
                  description: Action to take when the menu item is selected by the caller.
                  enum:
                    - play
                    - connect
                    - call
                to:
                  type: string
                  description: 'The destination type where the call should be connected. For example, user.'
                  enum:
                    - user
                    - other
                    - prompt
                    - app
                id:
                  type: string
                  description: 'A unique ID to identify the destination. For example, if the `to` field is user then `id` will be the user''s unique ID.'
              required:
                - action
            timeout:
              type: object
              description: Action to be taken when the caller has not selected any option.
              properties:
                action:
                  type: string
                  description: Action to take when the menu item is selected by the caller.
                  enum:
                    - play
                    - connect
                    - call
                to:
                  type: string
                  description: 'The destination type where the call should be connected. For example, user.'
                  enum:
                    - user
                    - other
                    - prompt
                    - app
                id:
                  type: string
                  description: 'A unique ID to identify the destination. For example, if the `to` field is user then `id` will be the user''s unique ID.'
              required:
                - action
        error_voice:
          type: string
          description: The voice that applies for playing system messages. This field applies in case the app_type is `sysprompt`.
        greeting_prompt:
          type: string
          description: A flag that indicates if a greeting message is played when a caller reaches the voicemail. This field applies in case the app_type is `mailbox`
          enum:
            - 'yes'
            - 'no'
        goodbye_prompt:
          type: string
          description: A flag that indicates if a goodbye message is played when a caller has left a voicemail message. This field applies in case the app_type is `mailbox`.
          enum:
            - 'yes'
            - 'no'
        deliver_to:
          type: string
          description: |-
            Voicemails are delivered as email attachments. This field can specify either a user or an email address to which the voicemail are delivered. This can take values `user` or `email`.

            This field applies in case the app_type is `mailbox`.
          enum:
            - user
            - email
        deliver_to_details:
          type: string
          description: |-
            If `deliver_to` is a user, this field takes the user_id of the user. The email is delivered to the email address of the user configured in the Sonetel account.
            If `deliver_to` is an email, this field takes the email address to which the voicemail is delivered.
      required:
        - app_type
        - name
    Create-Prompt:
      title: Create-Prompt
      type: object
      properties:
        name:
          type: string
          description: A descriptive name of the prompt defined by the customer.
      required:
        - name
    Update-Prompt:
      title: Update-Prompt
      type: object
      properties:
        prompt_id:
          type: string
        name:
          type: string
  securitySchemes:
    Production:
      type: oauth2
      description: ''
      flows:
        password:
          tokenUrl: 'https://api.sonetel.com/SonetelAuth/beta/oauth/token'
          scopes: {}
          refreshUrl: 'https://api.sonetel.com/SonetelAuth/beta/oauth/token'
  responses:
    Voiceapp-response:
      description: Example response
      content:
        application/json:
          schema:
            description: ''
            type: object
            x-examples:
              example-1:
                app_id: VAdhy6q1oioz
                name: Sai test menu
                app_type: ivr
                shortcode: '*21*2'
                sip_address: VAdhy6q1oioz@sonetel.net
                voice: en
                play_welcome: 'yes'
                get_extension: 'no'
                play_menu: 'yes'
                menu:
                  digit_0:
                    action: ''
                    to: ''
                    id: ''
                  digit_1:
                    action: ''
                    to: ''
                    id: ''
                  digit_2:
                    action: ''
                    to: ''
                    id: ''
                  digit_3:
                    action: ''
                    to: ''
                    id: ''
                  digit_4:
                    action: ''
                    to: ''
                    id: ''
                  digit_5:
                    action: ''
                    to: ''
                    id: ''
                  digit_6:
                    action: ''
                    to: ''
                    id: ''
                  digit_7:
                    action: ''
                    to: ''
                    id: ''
                  digit_8:
                    action: ''
                    to: ''
                    id: ''
                  timeout:
                    action: ''
                    to: ''
                    id: ''
                  digit_9:
                    action: ''
                    to: ''
                    id: ''
                tts_allowed: 'yes'
            properties:
              app_id:
                type: string
                minLength: 1
                description: The Unique ID of the voice app
              name:
                type: string
                minLength: 1
                description: A descriptive name for the voice app
              app_type:
                type: string
                description: 'The type of app i.e. IVR, voicemail.'
                enum:
                  - ivr
                  - mailbox
                  - sysprompt
              shortcode:
                type: string
                minLength: 1
                description: |-
                  Internal extention number of the voice app. You can dial it from your Sonetel account (SIP call, callback, etc).

                  You can also use it co forward calls from phone numbers to a voice app. i.e. in the incoming call settings of the phone number, set the call to forward to trhe app's shortcode.
              sip_address:
                type: string
                minLength: 1
                description: The SIP address of the voice app
              voice:
                type: string
                description: The set of pre-recorded voice prompts for the voice app
                enum:
                  - en
                  - swe
                  - spa
                  - hin-fe
                  - tam-fe
                  - tel-fe
                  - en-fe
                  - gr-fe
                  - en-uk-fe
                  - fr-fe
                  - ara-fe
              play_welcome:
                type: string
                description: A flag that indicates if the welcome message is played or not.
                enum:
                  - 'yes'
                  - 'no'
              get_extension:
                type: string
                description: A flag that indicates if the auto-attendant function is active.
                enum:
                  - 'yes'
                  - 'no'
              play_menu:
                type: string
                minLength: 0
                description: A flag that indicates if the interactive voice menu function(receive digits from callers to take actions) is active or not.
                enum:
                  - 'yes'
                  - 'no'
              menu:
                type: object
                description: The voice response menu that defines the digits and the actions taken on each digit press
                properties:
                  digit_0:
                    type: object
                    description: Action to be taken when the caller selects option 0 in the IVR.
                    properties:
                      action:
                        type: string
                        description: Action to take when the menu item is selected by the caller.
                      to:
                        type: string
                        description: 'The destination type where the call should be connected. For example, user.'
                      id:
                        type: string
                        description: 'A unique ID to identify the destination. For example, if the `to` field is user then `id` will be the user''s `user_id`.'
                  digit_1:
                    type: object
                    description: Action to be taken when the caller selects option 1 in the IVR.
                    properties:
                      action:
                        type: string
                        description: Action to take when the menu item is selected by the caller.
                      to:
                        type: string
                        description: 'The destination type where the call should be connected. For example, user.'
                      id:
                        type: string
                        description: 'A unique ID to identify the destination. For example, if the `to` field is user then `id` will be the user''s `user_id`.'
                  digit_2:
                    type: object
                    description: Action to be taken when the caller selects option 2 in the IVR.
                    properties:
                      action:
                        type: string
                        description: Action to take when the menu item is selected by the caller.
                      to:
                        type: string
                        description: 'The destination type where the call should be connected. For example, user.'
                      id:
                        type: string
                        description: 'A unique ID to identify the destination. For example, if the `to` field is user then `id` will be the user''s `user_id`.'
                  digit_3:
                    type: object
                    description: Action to be taken when the caller selects option 3 in the IVR.
                    properties:
                      action:
                        type: string
                        description: Action to take when the menu item is selected by the caller.
                      to:
                        type: string
                        description: 'The destination type where the call should be connected. For example, user.'
                      id:
                        type: string
                        description: 'A unique ID to identify the destination. For example, if the `to` field is user then `id` will be the user''s `user_id`.'
                  digit_4:
                    type: object
                    description: Action to be taken when the caller selects option 4 in the IVR.
                    properties:
                      action:
                        type: string
                        description: Action to take when the menu item is selected by the caller.
                      to:
                        type: string
                        description: 'The destination type where the call should be connected. For example, user.'
                      id:
                        type: string
                        description: 'A unique ID to identify the destination. For example, if the `to` field is user then `id` will be the user''s `user_id`.'
                  digit_5:
                    type: object
                    description: Action to be taken when the caller selects option 5 in the IVR.
                    properties:
                      action:
                        type: string
                        description: Action to take when the menu item is selected by the caller.
                      to:
                        type: string
                        description: 'The destination type where the call should be connected. For example, user.'
                      id:
                        type: string
                        description: 'A unique ID to identify the destination. For example, if the `to` field is user then `id` will be the user''s `user_id`.'
                  digit_6:
                    type: object
                    description: Action to be taken when the caller selects option 6 in the IVR.
                    properties:
                      action:
                        type: string
                        description: Action to take when the menu item is selected by the caller.
                      to:
                        type: string
                        description: 'The destination type where the call should be connected. For example, user.'
                      id:
                        type: string
                        description: 'A unique ID to identify the destination. For example, if the `to` field is user then `id` will be the user''s `user_id`.'
                  digit_7:
                    type: object
                    description: Action to be taken when the caller selects option 7 in the IVR.
                    properties:
                      action:
                        type: string
                        description: Action to take when the menu item is selected by the caller.
                      to:
                        type: string
                        description: 'The destination type where the call should be connected. For example, user.'
                      id:
                        type: string
                        description: 'A unique ID to identify the destination. For example, if the `to` field is user then `id` will be the user''s `user_id`.'
                  digit_8:
                    type: object
                    description: Action to be taken when the caller selects option 8 in the IVR.
                    properties:
                      action:
                        type: string
                        description: Action to take when the menu item is selected by the caller.
                      to:
                        type: string
                        description: 'The destination type where the call should be connected. For example, user.'
                      id:
                        type: string
                        description: 'A unique ID to identify the destination. For example, if the `to` field is user then `id` will be the user''s `user_id`.'
                  digit_9:
                    type: object
                    description: Action to be taken when the caller selects option 9 in the IVR.
                    properties:
                      action:
                        type: string
                        description: Action to take when the menu item is selected by the caller.
                      to:
                        type: string
                        description: 'The destination type where the call should be connected. For example, user.'
                      id:
                        type: string
                        description: 'A unique ID to identify the destination. For example, if the `to` field is user then `id` will be the user''s `user_id`.'
                  timeout:
                    type: object
                    description: Action to be taken when the caller does not select any option in the IVR.
                    properties:
                      action:
                        type: string
                        description: Action to take when the menu item is selected by the caller.
                      to:
                        type: string
                        description: 'The destination type where the call should be connected. For example, user.'
                      id:
                        type: string
                        description: 'A unique ID to identify the destination. For example, if the `to` field is user then `id` will be the user''s `user_id`.'
              tts_allowed:
                type: string
                description: This is a read-only flag which indicates whether TTS  functionality is allowed on this voice-app or not.
                enum:
                  - 'yes'
                  - 'no'
                readOnly: true
          examples:
            IVR:
              value:
                app_id: ACud89Klks
                name: Main menu
                app_type: ivr
                shortcode: '*21'
                sip_address: ACud89Klks@sonetel.net
                voice: hin-fe
                play_welcome: 'yes'
                get_extension: 'no'
                play_menu: 'yes'
                menu:
                  digit_0:
                    action: ''
                    to: ''
                    id: ''
                  digit_1:
                    action: call
                    to: user
                    id: '2000000000'
                  digit_2:
                    action: play
                    to: prompt
                    id: PRio9abcd3fgh
                  digit_3:
                    action: call
                    to: phnum
                    id: '+46850000000'
                  digit_4:
                    action: ''
                    to: ''
                    id: ''
                  digit_5:
                    action: ''
                    to: ''
                    id: ''
                  digit_6:
                    action: ''
                    to: ''
                    id: ''
                  digit_7:
                    action: ''
                    to: ''
                    id: ''
                  digit_8:
                    action: ''
                    to: ''
                    id: ''
                  timeout:
                    action: connect
                    to: app
                    id: ACud89Klks
                  digit_9:
                    action: ''
                    to: ''
                    id: ''
                tts_allowed: 'yes'
            Voicemail:
              value:
                app_id: AB3hdluaaa
                name: main VM
                app_type: mailbox
                shortcode: '*12'
                sip_address: AB3hdluaaa@sonetel.net
                voice: en-fe
                greeting_prompt: 'no'
                goodbye_prompt: 'no'
                deliver_to: email
                deliver_to_details: user@example.com
                tts_allowed: 'yes'
      headers:
        Content-Type:
          schema:
            type: string
          description: application/json;charset=UTF-8
    List-voiceapps:
      description: Example response
      content:
        application/json:
          schema:
            type: array
            description: ''
            minItems: 1
            uniqueItems: true
            x-examples:
              example-1:
                - app_id: VAdhy6q1oioi
                  name: Main menu
                  app_type: ivr
                  shortcode: '*21'
                  sip_address: VAdhy6q1oioi@sonetel.net
                  voice: en
                  play_welcome: 'yes'
                  get_extension: 'no'
                  play_menu: 'yes'
                  menu:
                    digit_0:
                      action: ''
                      to: ''
                      id: ''
                    digit_1:
                      action: call
                      to: user
                      id: '2015573690'
                    digit_2:
                      action: play
                      to: prompt
                      id: PRiodhy6q1oiod
                    digit_3:
                      action: call
                      to: user
                      id: '2015573690'
                    digit_4:
                      action: ''
                      to: ''
                      id: ''
                    digit_5:
                      action: ''
                      to: ''
                      id: ''
                    digit_6:
                      action: ''
                      to: ''
                      id: ''
                    digit_7:
                      action: ''
                      to: ''
                      id: ''
                    digit_8:
                      action: ''
                      to: ''
                      id: ''
                    timeout:
                      action: call
                      to: user
                      id: '2015573690'
                    digit_9:
                      action: ''
                      to: ''
                      id: ''
                  tts_allowed: 'yes'
                - app_id: VAdhy6q1oioz
                  name: Sai test menu
                  app_type: ivr
                  shortcode: '*21*2'
                  sip_address: VAdhy6q1oioz@sonetel.net
                  voice: en
                  play_welcome: 'yes'
                  get_extension: 'no'
                  play_menu: 'yes'
                  menu:
                    digit_0:
                      action: ''
                      to: ''
                      id: ''
                    digit_1:
                      action: ''
                      to: ''
                      id: ''
                    digit_2:
                      action: ''
                      to: ''
                      id: ''
                    digit_3:
                      action: ''
                      to: ''
                      id: ''
                    digit_4:
                      action: ''
                      to: ''
                      id: ''
                    digit_5:
                      action: ''
                      to: ''
                      id: ''
                    digit_6:
                      action: ''
                      to: ''
                      id: ''
                    digit_7:
                      action: ''
                      to: ''
                      id: ''
                    digit_8:
                      action: ''
                      to: ''
                      id: ''
                    timeout:
                      action: ''
                      to: ''
                      id: ''
                    digit_9:
                      action: ''
                      to: ''
                      id: ''
                  tts_allowed: 'yes'
                - app_id: VAdhy6q1ozvoi
                  name: System Prompt
                  app_type: sysprompts
                  error_voice: en
                  error_repeat_voice: en-fe
                  usermailbox_voice: en
                  tts_allowed: 'yes'
                - app_id: VAdhy6q1o9oi
                  name: Voice Mail
                  app_type: mailbox
                  shortcode: '*12'
                  sip_address: VAdhy6q1o9oi@sonetel.net
                  voice: en
                  greeting_prompt: 'yes'
                  goodbye_prompt: 'yes'
                  deliver_to: user
                  deliver_to_details: '2015573690'
                  tts_allowed: 'yes'
            items:
              type: object
              properties:
                app_id:
                  type: string
                  description: The Unique ID of the voice app
                name:
                  type: string
                  description: A descriptive name for the voice app
                app_type:
                  type: string
                  description: 'The type of app i.e. IVR, etc.'
                  enum:
                    - ivr
                    - mailbox
                    - sysprompt
                shortcode:
                  type: string
                  description: |-
                    Internal extention number of the voice app. You can dial it from your Sonetel account (SIP call, callback, etc).

                    You can also use it co forward calls from phone numbers to a voice app. i.e. in the incoming call settings of the phone number, set the call to forward to trhe app's shortcode.
                sip_address:
                  type: string
                  description: The SIP address of the voice app
                voice:
                  type: string
                  description: |-
                    The set of pre-recorded voice prompts for the voice app. It controls the language, accent and gender of the voice that the callers hear.

                    For example, if the `voice` is set to `en-uk-fe`, the user hears an English female voice in a UK accent.
                play_welcome:
                  type: string
                  description: A flag that indicates if the Welcome message is played or not.
                  enum:
                    - 'yes'
                    - 'no'
                get_extension:
                  type: string
                  description: |-
                    A flag that indicates if the auto-attendant function is active.

                    When enabled, the caller can enter the internal 3-digit extention number of any user in your Sonetela ccount and be connected to them.

                    You can find the user's extension number in their call settings.
                  enum:
                    - 'yes'
                    - 'no'
                play_menu:
                  type: string
                  description: A flag that indicates if the interactive voice menu function (receive digits from callers to take actions) is active or not.
                  enum:
                    - 'yes'
                    - 'no'
                menu:
                  type: object
                  description: The voice response menu that defines the digits and the actions taken on each digit press
                  properties:
                    digit_0:
                      type: object
                      description: Action to be taken when the caller selects option 0 in the IVR.
                      properties:
                        action:
                          type: string
                          description: |-
                            Action to take when the menu item is selected by the caller.

                            An empty value indicates that no action is taken.
                          enum:
                            - play
                            - connect
                            - call
                        to:
                          type: string
                          description: 'The destination type where the call should be connected. For example, user.'
                          enum:
                            - user
                            - other
                            - prompt
                            - app
                        id:
                          type: string
                          description: 'A unique ID to identify the destination. For example, if the `to` field is user then `id` will be the user''s unique ID.'
                    digit_1:
                      type: object
                      description: Action to be taken when the caller selects option 1 in the IVR.
                      properties:
                        action:
                          type: string
                          description: |-
                            Action to take when the menu item is selected by the caller.

                            An empty value indicates that no action is taken.
                          enum:
                            - play
                            - connect
                            - call
                        to:
                          type: string
                          enum:
                            - user
                            - other
                            - prompt
                            - app
                        id:
                          type: string
                          description: 'A unique ID to identify the destination. For example, if the `to` field is user then `id` will be the user''s unique ID.'
                    digit_2:
                      type: object
                      description: Action to be taken when the caller selects option 2 in the IVR.
                      properties:
                        action:
                          type: string
                          description: |-
                            Action to take when the menu item is selected by the caller.

                            An empty value indicates that no action is taken.
                          enum:
                            - play
                            - connect
                            - call
                        to:
                          type: string
                          enum:
                            - user
                            - other
                            - prompt
                            - app
                        id:
                          type: string
                          description: 'A unique ID to identify the destination. For example, if the `to` field is user then `id` will be the user''s unique ID.'
                    digit_3:
                      type: object
                      description: Action to be taken when the caller selects option 3 in the IVR.
                      properties:
                        action:
                          type: string
                          description: |-
                            Action to take when the menu item is selected by the caller.

                            An empty value indicates that no action is taken.
                          enum:
                            - play
                            - connect
                            - call
                        to:
                          type: string
                          enum:
                            - user
                            - other
                            - prompt
                            - app
                        id:
                          type: string
                          description: 'A unique ID to identify the destination. For example, if the `to` field is user then `id` will be the user''s unique ID.'
                    digit_4:
                      type: object
                      description: Action to be taken when the caller selects option 4 in the IVR.
                      properties:
                        action:
                          type: string
                          description: |-
                            Action to take when the menu item is selected by the caller.

                            An empty value indicates that no action is taken.
                          enum:
                            - play
                            - connect
                            - call
                        to:
                          type: string
                          enum:
                            - user
                            - other
                            - prompt
                            - app
                        id:
                          type: string
                          description: 'A unique ID to identify the destination. For example, if the `to` field is user then `id` will be the user''s unique ID.'
                    digit_5:
                      type: object
                      description: Action to be taken when the caller selects option 5 in the IVR.
                      properties:
                        action:
                          type: string
                          description: |-
                            Action to take when the menu item is selected by the caller.

                            An empty value indicates that no action is taken.
                          enum:
                            - play
                            - connect
                            - call
                        to:
                          type: string
                          enum:
                            - user
                            - other
                            - prompt
                            - app
                        id:
                          type: string
                          description: 'A unique ID to identify the destination. For example, if the `to` field is user then `id` will be the user''s unique ID.'
                    digit_6:
                      type: object
                      description: Action to be taken when the caller selects option 6 in the IVR.
                      properties:
                        action:
                          type: string
                          description: |-
                            Action to take when the menu item is selected by the caller.

                            An empty value indicates that no action is taken.
                          enum:
                            - play
                            - connect
                            - call
                        to:
                          type: string
                          enum:
                            - user
                            - other
                            - prompt
                            - app
                        id:
                          type: string
                          description: 'A unique ID to identify the destination. For example, if the `to` field is user then `id` will be the user''s unique ID.'
                    digit_7:
                      type: object
                      description: Action to be taken when the caller selects option 7 in the IVR.
                      properties:
                        action:
                          type: string
                          description: |-
                            Action to take when the menu item is selected by the caller.

                            An empty value indicates that no action is taken.
                          enum:
                            - play
                            - connect
                            - call
                        to:
                          type: string
                          enum:
                            - user
                            - other
                            - prompt
                            - app
                        id:
                          type: string
                          description: 'A unique ID to identify the destination. For example, if the `to` field is user then `id` will be the user''s unique ID.'
                    digit_8:
                      type: object
                      description: Action to be taken when the caller selects option 8 in the IVR.
                      properties:
                        action:
                          type: string
                          description: |-
                            Action to take when the menu item is selected by the caller.

                            An empty value indicates that no action is taken.
                          enum:
                            - play
                            - connect
                            - call
                        to:
                          type: string
                          enum:
                            - user
                            - other
                            - prompt
                            - app
                        id:
                          type: string
                          description: 'A unique ID to identify the destination. For example, if the `to` field is user then `id` will be the user''s unique ID.'
                    digit_9:
                      type: object
                      description: Action to be taken when the caller selects option 9 in the IVR.
                      properties:
                        action:
                          type: string
                          description: |-
                            Action to take when the menu item is selected by the caller.

                            An empty value indicates that no action is taken.
                          enum:
                            - play
                            - connect
                            - call
                        to:
                          type: string
                          enum:
                            - user
                            - other
                            - prompt
                            - app
                        id:
                          type: string
                          description: 'A unique ID to identify the destination. For example, if the `to` field is user then `id` will be the user''s unique ID.'
                    timeout:
                      type: object
                      description: Action to be taken when the caller does not select any option.
                      properties:
                        action:
                          type: string
                          description: |-
                            Action to take when this menu item is activated.

                            An empty value indicates that no action is taken.
                          enum:
                            - play
                            - connect
                            - call
                        to:
                          type: string
                          enum:
                            - user
                            - other
                            - prompt
                            - app
                        id:
                          type: string
                          description: 'A unique ID to identify the destination. For example, if the `to` field is user then `id` will be the user''s unique ID.'
                tts_allowed:
                  type: string
                  description: This is a read-only field which indicates whether TTS  functionality is allowed on this voice-app or not.
                  enum:
                    - 'yes'
                    - 'no'
                  readOnly: true
                error_voice:
                  type: string
                  description: |-
                    The language, gender and accent of the voice that is heard by the caller for playing error messages on call.

                    The error message can be repeated in 2 different languages. The `error_voice` property controls the voice heard by the the first time while `error_repeat_voice` is the voice in which the error message is repeated.

                    This field applies in case the app_type is “sysprompt”.
                error_repeat_voice:
                  type: string
                  description: |-
                    You can repeat the error messages played to callers in a two different languages. The `error_repeat_voice` property controls the language in which the error message is repeated.

                    For example, if you'd like to play the error messages in English first and then Swedish, then set `error_voice` to `en` and `error_repeat_voice` to `swe`.

                    This field applies in case the app_type is “sysprompt”.
                greeting_prompt:
                  type: string
                  description: |-
                    A flag that indicates if a greeting message is played when a caller reaches the voicemail.

                    This field applies in case the app_type is `mailbox`.
                  enum:
                    - 'yes'
                    - 'no'
                goodbye_prompt:
                  type: string
                  description: A flag that indicates if a goodbye message is played when a caller has left a voicemail message. This field applies in case the app_type is `mailbox`
                  enum:
                    - 'yes'
                    - 'no'
                deliver_to:
                  type: string
                  description: |-
                    Voicemails are delivered as email attachments. This field can specify either a user or an email address to which the voicemail are delivered.

                    This field applies in case the app_type is “mailbox”
                  enum:
                    - user
                    - email
                deliver_to_details:
                  type: string
                  description: |-
                    If `deliver_to` is a user, this field takes the `user_id` of the user. The email is delivered to the email address of the user configured in the Sonetel account.
                    If `deliver_to` is an email, this field takes the email address to which the voicemail is delivered.
          examples:
            Example:
              value:
                resource: voiceapp
                response:
                  - app_id: ABc8sjNMs
                    name: Main menu Test
                    app_type: ivr
                    shortcode: '*21'
                    sip_address: ABc8sjNMs@sonetel.net
                    voice: hin-fe
                    play_welcome: 'yes'
                    get_extension: 'no'
                    play_menu: 'yes'
                    menu:
                      digit_0:
                        action: ''
                        to: ''
                        id: ''
                      digit_1:
                        action: call
                        to: user
                        id: '2000000000'
                      digit_2:
                        action: play
                        to: prompt
                        id: PRiw9azqjoioa
                      digit_3:
                        action: call
                        to: phnum
                        id: '+46800000000'
                      digit_4:
                        action: ''
                        to: ''
                        id: ''
                      digit_5:
                        action: ''
                        to: ''
                        id: ''
                      digit_6:
                        action: ''
                        to: ''
                        id: ''
                      digit_7:
                        action: ''
                        to: ''
                        id: ''
                      digit_8:
                        action: ''
                        to: ''
                        id: ''
                      timeout:
                        action: connect
                        to: app
                        id: ABc8sjNMs
                      digit_9:
                        action: ''
                        to: ''
                        id: ''
                    tts_allowed: 'yes'
                  - app_id: VA9dcbao9oi
                    name: Sales Team Voicemail
                    app_type: mailbox
                    shortcode: '*12'
                    sip_address: VA9dcbao9oi@sonetel.net
                    voice: en-fe
                    greeting_prompt: 'no'
                    goodbye_prompt: 'no'
                    deliver_to: email
                    deliver_to_details: sales@example.com
                    tts_allowed: 'yes'
                  - app_id: A9azaxo9o9
                    name: Support Mailbox
                    app_type: mailbox
                    shortcode: '*12*3'
                    sip_address: A9azaxo9o9@sonetel.net
                    voice: en-fe
                    greeting_prompt: 'no'
                    goodbye_prompt: 'no'
                    deliver_to: user
                    deliver_to_details: '2000000000'
                    tts_allowed: 'yes'
                  - app_id: VA9acdfreoi
                    name: System Prompt
                    app_type: sysprompts
                    error_voice: en
                    error_repeat_voice: en-fe
                    usermailbox_voice: en
                    tts_allowed: 'yes'
                status: success
      headers:
        Content-Type:
          schema:
            type: string
          description: application/json;charset=UTF-8
    Sonetel-voiceapp-response:
      description: Example response
      content:
        application/json:
          schema:
            description: ''
            type: object
            x-examples:
              example-1:
                resource: voiceapp
                status: success
                response: Voice App deleted successfully
            properties:
              resource:
                type: string
                minLength: 1
              status:
                type: string
                minLength: 1
              response:
                $ref: '#/components/schemas/Create-Voiceapp'
            required:
              - resource
              - status
              - response
      headers:
        Content-Type:
          schema:
            type: string
          description: application/json
    List-prompt:
      description: ''
      content:
        application/json:
          schema:
            type: array
            description: ''
            minItems: 1
            uniqueItems: true
            x-examples:
              example-1:
                - record_id: '1001'
                  account_id: YOUR_ACCOUNT_ID
                  name: Welcome
                  exists: 'yes'
                  prompt_id: PRio9aaaaaaa
                  type: standard
                  app_id: AB0cdefghij
                - record_id: '1002'
                  account_id: YOUR_ACCOUNT_ID
                  name: Main Menu
                  exists: 'yes'
                  prompt_id: PRio9aaaaaab
                  type: standard
                  app_id: AB0cdefghij
                - record_id: '1007'
                  account_id: YOUR_ACCOUNT_ID
                  name: Invalid Menu Entry
                  exists: 'yes'
                  prompt_id: PRio9aaaaaac
                  type: standard
                  app_id: AB0cdefghij
                - record_id: '1008'
                  account_id: YOUR_ACCOUNT_ID
                  name: Please Wait
                  exists: 'yes'
                  prompt_id: PRio9aaaaaad
                  type: standard
                  app_id: AB0cdefghij
                - record_id: '1030'
                  account_id: YOUR_ACCOUNT_ID
                  name: Information
                  exists: 'yes'
                  prompt_id: PRio9aaaaaae
                  type: custom
                  app_id: AB0cdefghij
                - record_id: '1003'
                  account_id: YOUR_ACCOUNT_ID
                  name: Office closed
                  exists: 'yes'
                  prompt_id: PRio9aaaaaaf
                  type: standard
                  app_id: AB0cdefghij
                - record_id: '1004'
                  account_id: YOUR_ACCOUNT_ID
                  name: Info message 1
                  exists: 'yes'
                  prompt_id: PRio9aaaaaag
                  type: standard
                  app_id: AB0cdefghij
                - record_id: '1005'
                  account_id: YOUR_ACCOUNT_ID
                  name: Enter Extension
                  exists: 'yes'
                  prompt_id: PRio9aaaaaah
                  type: standard
                  app_id: AB0cdefghij
                - record_id: '1006'
                  account_id: YOUR_ACCOUNT_ID
                  name: Invalid Extension
                  exists: 'yes'
                  prompt_id: PRio9aaaaaai
                  type: standard
                  app_id: AB0cdefghij
            items:
              type: object
              description: Object containing the prompt's details
              properties:
                prompt_id:
                  type: string
                  minLength: 1
                  description: The unique Id of the prompt
                type:
                  type: string
                  minLength: 1
                  description: 'standard”. Specifies if the associated voice message is a custom message or a standard message. A custom message is one that has been recorded or uploaded by the customer, while a standard message is a pre-recorded message provided by Sonetel'
                  enum:
                    - custom
                    - standard
                name:
                  type: string
                  minLength: 1
                  description: A descriptive name of the prompt.
                app_id:
                  type: string
                  minLength: 1
                  description: The unique ID of the voice app that the prompt belongs to.
                account_id:
                  type: string
                  minLength: 1
                  description: Your Sonetel account ID
                record_id:
                  type: string
                  minLength: 1
                  description: |-
                    The ID of the prompt that can be dialed via DTMF digits when updating the voice message from the recording function (*22).

                    Dial *22 from a SIP phone registered with Sonetel and enter the record ID to record over the existing message.
                exists:
                  type: string
                  minLength: 1
                  description: |-
                    A flag that specifies if the associated voice message for this prompt exists. This flag is only relevant in case of custom prompts.

                    For default prompts, the flag is always “yes” since there is always a voice message associated with them.
                file_name:
                  type: string
                  description: The name of the audio file uploaded by the customer. The field is empty if no file has been uploaded.
                file_details:
                  type: string
                  description: 'This lists details of the recording file, Empty if it is standard or non-existing. `Recorded by phone` if it is recorded. `uploaded` if it is uploaded, `Text to speech` if it is  TTS converted file.'
                play_path:
                  type: string
                  description: This field carries the prompt sip_uri that can be used to call to play the prompt. (play#prompt-id@prompts.sonetel.com)
                record_path:
                  type: string
                  description: This field carries the prompt sip_url that can be used to record the prompt. (record#prompt-id@prompts.sonetel.com)
                audio_length:
                  type: string
                  description: The length of the audio in seconds.
                size:
                  type: string
                  description: The size of the file in kilobytes.
                message_url:
                  type: string
                  description: The URL of the voice message of the prompt. This is the URL where the voice file for the prompt can be accessed and uploaded.
                create_date:
                  type: string
                  format: date-time
                  description: The date and time when the prompt was created.
          examples:
            Prompt:
              value:
                record_id: '1001'
                account_id: YOUR_ACCOUNT_ID
                name: Welcome
                exists: 'yes'
                prompt_id: PRio9aaaaaaa
                type: standard
                app_id: AB0cdefghij
            Prompt with message details:
              value:
                prompt_id: PRia0abcdefGh
                type: standard
                name: Welcome
                app_id: VAfgte45a2Gh
                account_id: '200000000'
                record_id: '7001'
                exists: true
                file_name: response.wav
                file_details: Uploaded
                play_path: play#PRia0abcdefGh@prompts.sonetel.com
                record_path: record#PRia0abcdefGh@prompts.sonetel.com
                audio_length: '10.0'
                size: '157.92'
                message_url: 'https://audio-prompts.sonetel.com/PRia0abcdefGh-00000a00-0000-aaaa-0000-aaaa0000b1b1.wav'
                create_date: '20210727T00:00:00Z'
      headers:
        Content-Type:
          schema:
            type: string
          description: application/json;charset=UTF-8
security:
  - Production: []
