openapi: 3.1.0
info:
  title: Account
  version: '1.0'
  summary: Manage account
  description: |+
    The account resource represents the Sonetel account for your company.

    This resource contains your company wide settings, account status, prepaid credit etc. It is accessed using the unique account-id under the base URL with a format `https://api.sonetel.com/account/{accountid}`

servers:
  - url: 'https://beta-api.sonetel.com'
    description: Beta
  - url: 'https://api.sonetel.com'
    description: Production
  - url: 'https://chat-api.sonetel.com'
    description: Staging
paths:
  '/account/{accountId}':
    parameters:
      - schema:
          type: string
        name: accountId
        in: path
        required: true
        description: Your Sonetel account ID
    get:
      summary: Retrieve account by account-id
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account-GET'
              examples:
                Get User Alice Smith:
                  value:
                    id: 142
                    firstName: Alice
                    lastName: Smith
                    email: alice.smith@gmail.com
                    dateOfBirth: '1997-10-31'
                    emailVerified: true
                    signUpDate: '2019-08-24'
        '404':
          description: User Not Found
      operationId: get-users-userId
      description: Get information about your Sonetel account.
      security:
        - sonetel-conversations: []
    put:
      summary: Manage account by account-Id
      operationId: put-account-accountId
      responses:
        '200':
          description: OK
components:
  schemas:
    ErrorResponse:
      description: ''
      type: object
      x-examples:
        example-1:
          response:
            detail: string
            code: string
            '': string
          resource: string
          status: string
          '': string
      properties:
        response:
          type: object
          required:
            - detail
            - code
          properties:
            detail:
              type: string
              minLength: 1
            code:
              type: string
              minLength: 1
        resource:
          type: string
          minLength: 1
        status:
          type: string
          minLength: 1
      required:
        - response
        - resource
        - status
    Account-GET:
      description: ''
      type: object
      x-examples:
        example-1:
          resource: account
          response:
            account_id: '2000000007'
            area_code: '8'
            name: Sonetel
            status: active
            status_desc: ''
            currency: SEK
            address: Mailbox 647
            address2: test111
            city: Stockholm
            zipcode: '6464'
            country: SWE
            credit_balance: '6897.57'
            timezone: 'GMT +05:30'
            language: eng
            priceplan: regular
            plan_details: ''
            website:
              website_status: verified
            daily_usage_limit: '3321.31'
            vat_relevant: true
            user_count: 56
            language_id: 41
            timezone_details:
              zone_name: '(GMT +5:30) New Delhi, Kolkata, Mumbai, Chennai'
              zone_id: 12
            account_verified: false
            current_country: SWE
            phnum_count: 126
            companyNameUpdated: false
            account_type: main_account
            account_category: regular
          status: success
      properties:
        resource:
          type: string
          minLength: 1
        response:
          type: object
          required:
            - account_id
            - area_code
            - name
            - status
            - status_desc
            - currency
            - address
            - address2
            - city
            - zipcode
            - country
            - credit_balance
            - timezone
            - language
            - priceplan
            - plan_details
            - website
            - daily_usage_limit
            - vat_relevant
            - user_count
            - language_id
            - timezone_details
            - account_verified
            - current_country
            - phnum_count
            - companyNameUpdated
            - account_type
            - account_category
          properties:
            account_id:
              type: string
              minLength: 1
            area_code:
              type: string
              minLength: 1
            name:
              type: string
              minLength: 1
            status:
              type: string
              minLength: 1
            status_desc:
              type: string
            currency:
              type: string
              minLength: 1
            address:
              type: string
              minLength: 1
            address2:
              type: string
              minLength: 1
            city:
              type: string
              minLength: 1
            zipcode:
              type: string
              minLength: 1
            country:
              type: string
              minLength: 1
            credit_balance:
              type: string
              minLength: 1
            timezone:
              type: string
              minLength: 1
            language:
              type: string
              minLength: 1
            priceplan:
              type: string
              minLength: 1
            plan_details:
              type: string
            website:
              type: object
              required:
                - website_status
              properties:
                website_status:
                  type: string
                  minLength: 1
            daily_usage_limit:
              type: string
              minLength: 1
            vat_relevant:
              type: boolean
            user_count:
              type: number
            language_id:
              type: number
            timezone_details:
              type: object
              required:
                - zone_name
                - zone_id
              properties:
                zone_name:
                  type: string
                  minLength: 1
                zone_id:
                  type: number
            account_verified:
              type: boolean
            current_country:
              type: string
              minLength: 1
            phnum_count:
              type: number
            companyNameUpdated:
              type: boolean
            account_type:
              type: string
              minLength: 1
            account_category:
              type: string
              minLength: 1
        status:
          type: string
          minLength: 1
      required:
        - status
  securitySchemes:
    sonetel-conversations:
      type: http
      scheme: bearer
  responses:
    Error-response:
      description: Example response
      content:
        application/json:
          schema:
            description: ''
            type: object
            x-examples:
              example-1:
                response:
                  detail: string
                  code: string
                  '': string
                resource: string
                status: string
                '': string
            properties:
              response:
                type: object
                properties:
                  detail:
                    type: string
                    minLength: 1
                    description: A detailed description of the error.
                  code:
                    type: string
                    minLength: 1
                    description: The error code.
              resource:
                type: string
                minLength: 1
                description: The resource that was accessed
              status:
                type: string
                minLength: 1
                description: The response from the server i.e. success or failed.
security:
  - sonetel-conversations: []
