openapi: 3.1.0
info:
  title: Phone Numbers
  version: '1.0'
  summary: Endpoints for getting details of phone number stock
  description: |-
    These API endpoints allow you to change the settings for your existing phone numbers, browse our available phone number stock, purchase new phone numbers and remove numbers from your account.

    ## Manage your numbers

    Use the `/phonenumbersubscription` resource to manage your phone numbers i.e. change the call forwarding, return the numbers and so on.

    You can [get a list](Number%20Management.yaml/paths/account~1{accountid}~1phonenumbersubscription/get) of all the numbers assigned to you, the date when the next subscription charges will be applied, how incoming calls to them are handled and much more.

    Issue a `PUT` or `DELETE` request to update the subscription or remove it from your account.

    ## Order new numbers

    Need a new phone number? Use the [/country](Number%20Management.yaml/paths/~1country/get), [/numberstocksummary](Number%20Management.yaml/paths/~1numberstocksummary~1{country}/get) and [/availablephonenumber](Number%20Management.yaml/paths/~1numberstocksummary~1{country}~1availablephonenumber/get) resources to have a look at the available phone number stock.

    Once you have identified a suitable phone number, use the [/phonenumbersubscription](Number%20Management.yaml/paths/account~1{accountid}~1phonenumbersubscription/post) endpoint to purchase it.

    > Browsing the available phone number stock does not require authentication. However, you will need to provide your [access_token](Authentication.yaml/paths/~1oauth~1token/post) to use the phone number subscription endpoints.


    ## List of operations supported

    The number management API endpoints support the following operations:

    1. [Get my subscribed numbers](Number%20Management.yaml/paths/account~1{accountid}~1phonenumbersubscription/get)
    2. [Buy a number](Number%20Management.yaml/paths/account~1{accountid}~1phonenumbersubscription/post)
    3. [Return number](Number%20Management.yaml/paths/account~1{accountid}~1phonenumbersubscription~1{phnum}/delete)
    4. [Get my number details](Number%20Management.yaml/paths/account~1{accountid}~1phonenumbersubscription~1{phnum}/get)
    5. [Change call forwarding](reference/Number%20Management.yaml/paths/account~1{accountid}~1phonenumbersubscription~1{phnum}/put)
    6. [Inventory - Number support in countries](Number%20Management.yaml/paths/~1country/get)
    7. [Inventory - Summary of number stock](Number%20Management.yaml/paths/~1numberstocksummary~1{country}/get)
    8. [Inventory - Available numbers in a country](Number%20Management.yaml/paths/~1numberstocksummary~1{country}~1availablephonenumber/get)
servers:
  - url: 'https://chat-api.sonetel.com'
    description: Staging
  - url: 'https://beta-api.sonetel.com/'
    description: Production
paths:
  /country:
    parameters: []
    get:
      summary: Inventory - Phone number support by country
      tags: []
      responses:
        '200':
          $ref: '#/components/responses/Country-response'
      operationId: get-country
      description: |-
        # Inventory - Phone number support by country

        This endpoint provides an overview of the different types of phone numbers available across the world. 

        It allows you to filter the response by number type, country name, phone number support and other properties listed below.

        To filter the response just add one or more of the query parameters to the API call. For example, to get a list of all the countries from where we offer mobile numbers use `/country?type=mobile`.

        This endpoint does not return information about the available stock. Use `/numberstocksummary` and `/availablephonenumber` to get the details such as how many numbers are available, what do they cost and the actual list of phone numbers.
      parameters:
        - schema:
            type: string
            example: 'GBR, DEU, USA'
            minLength: 3
            maxLength: 3
          in: query
          name: country
          description: The three letter country ISO code.
        - schema:
            type: string
            example: 'australia, united*'
          in: query
          name: name
          description: The name of the country. Allows string wildcard search.
        - schema:
            type: string
            example: '32, 91, 49'
          in: query
          name: country_code
          description: The telephony country code as per ITU standards.
        - schema:
            type: string
            enum:
              - 'yes'
              - 'no'
          in: query
          name: phnum_support
          description: Add this flag to search for countries where phone numbers are available for purchase.
        - schema:
            type: string
            enum:
              - 'yes'
              - 'no'
          in: query
          name: freetest
          description: Flag to limit the results to countries where free test phone numbers are available.
        - schema:
            type: string
            enum:
              - mobile
              - national
              - tollfree
              - geographic
          in: query
          name: type
          description: Limit the response to a certain phone number type such as geographic or mobile. This is a multi-value filter.
        - schema:
            type: string
            enum:
              - 'yes'
              - 'no'
          in: query
          name: sms_support
          description: Flag to limit the results to countries where phone numbers support SMS
      security: []
  '/numberstocksummary/{country}':
    get:
      summary: Inventory - Quantities of numbers available by type/country
      operationId: get-stock
      responses:
        '200':
          $ref: '#/components/responses/Stock-response'
      description: |-
        # Inventory - Quantities of numbers available by type/country

        Sonetel offers phone numbers from 50+ countries that can be ordered via the API.

        We provide toll-free, national, geographic and mobile phone numbers in different countries, cities and under different area codes.

        The `/numberstocksummary` endpoint, provides the count of phone numbers available in stock in different countries. It does not return the actual numbers themselves.

        Specific phone numbers and their details can be fetched using the [/availablephonenumber](Number%20Management.yaml/paths/~1numberstocksummary~1{country}~1availablephonenumber/get) endpoint.

        The stock information includes a list of one of more area code information blocks in a country with each block carrying data about the count of phone number.

        > Number stock summary can only be fetched for one country at a time.
      parameters:
        - schema:
            type: string
          in: query
          description: Return only a specific area code in the results
          name: area_code
        - schema:
            type: string
            example: london
          in: query
          name: city
          description: Search for phone numbers using the exact or partial city name. The search is case insensitive.
    parameters:
      - schema:
          type: string
          example: 'USA, DEU, IND'
        name: country
        in: path
        required: true
        description: Three character ISO country code
  '/numberstocksummary/{country}/availablephonenumber':
    parameters:
      - schema:
          type: string
        name: country
        in: path
        required: true
        description: ISO Three character Country code
    get:
      summary: Inventory - Available numbers in a country
      tags: []
      responses:
        '200':
          $ref: '#/components/responses/availablenumbers-response'
      operationId: get-numberstocksummary-country-availablephonenumber
      description: |-
        # Inventory - Available numbers in a country

        Use the `/availablephonenumber` endpoint to get a list of phone numbers available for purchase from a specific country.

        It returns the full E164 number along with its details such as the recurring charges, features supported and so on.

        In order to purchase a number issue a `POST` request to the `/account/{accountid}/phonenumbersubscription` endpoint.

        > Make sure you have enough credit in your prepaid account to purchase a number. Use the `/account/{accountid}` endpoint to check your prepaid balance.
      parameters:
        - schema:
            type: string
            enum:
              - tollfree
              - mobile
              - national
              - geographic
          in: query
          name: type
          description: The type of phone number you want to search for.
        - schema:
            type: string
          in: query
          name: area_code
          description: Limit the response to phone numbers from a specific area code
        - schema:
            type: string
          in: query
          name: city
          description: Name of the city you want to see the phone numbers from
        - schema:
            type: string
            enum:
              - 'yes'
          in: query
          name: freeplan
          description: Limit the search to numbers that are available for free with Premium.
  'account/{accountid}/phonenumbersubscription':
    parameters:
      - schema:
          type: string
        name: accountid
        in: path
        required: true
        description: Your Sonetel account ID
    get:
      summary: Get my subscribed numbers
      tags: []
      responses:
        '200':
          description: Subscription Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/List-PhnumSubscriptions'
              examples:
                Example:
                  value:
                    page_metadata:
                      pagination_type: static
                      count: '2'
                      page_count: '1'
                      previous: NA
                      next: NA
                      page: '1'
                      first: NA
                      last: NA
                      sort:
                        property: activation_date
                        ignoreCase: false
                        nullHandling: client
                        descending: true
                        ascending: false
                    resource: phonenumbersubscription
                    status: success
                    response:
                      - account_id: ACCOUNT_ID
                        country_code: '1'
                        area_code: '857'
                        country: USA
                        is_part_of_series: 'no'
                        range: '1'
                        city: Boston (857)
                        type: geographic
                        one_time_fee: '0.0'
                        recurring_fee: '1.99'
                        recurrence_interval: 1m
                        per_call_fee: '0.000'
                        per_min_fee: '0.000'
                        charge_interval: '60'
                        per_sms_fee: '0.0'
                        per_fax_fee: ''
                        currency: USD
                        price_category: regular
                        connect_to_type: app
                        connect_to:
                          app_type: mailbox
                          app_id: UNIQUE_APP_ID
                        activation_date: '20210702T10:42:44Z'
                        next_fee_date: '20210713T07:22:53Z'
                        reclaim_date: '20210812T07:22:53Z'
                        status: active
                        status_desc: ''
                        freetest: 'no'
                        branded: 'no'
                        freeplan: 'no'
                        fax_enabled: 'no'
                        sms_enabled: add-on
                        fax_supported: 'no'
                        sms_supported: 'no'
                        phnum: '18575550000'
                        free_test_expiry_date: ''
                        sms_settings:
                          delivery_methods:
                            - dest_type: auto
                        plan_details:
                          current_renew_mode: 1m
                          next_renew_mode: 1m
                          activation_date: '20210702T10:42:44Z'
                          next_fee_date: '20210713T07:22:53Z'
                          deactivate_date: '20210812T07:22:53Z'
                          next_recurring_fee: '1.99'
                        show: caller
                        state: Massachusetts
                        addr_req: none
                        addr_proof: 'no'
                        access_restrictions: international
                        restrictions_desc: 'If you are on Premium, all types of numbers can be subscribed for free.<br>If you want a free number, select a City number and use our free chat function at your website.'
                        cli_support: add-on
                        business_pkg_support: 'yes'
                        package: standard
                        call_recording_allowed: add-on
                        voiceapp_connect: add-on
                        csg_connect: add-on
                      - account_id: ACCOUNT_ID
                        country_code: '1'
                        area_code: '347'
                        country: USA
                        is_part_of_series: 'no'
                        range: '1'
                        city: New York (347)
                        type: geographic
                        one_time_fee: '0.0'
                        recurring_fee: '1.99'
                        recurrence_interval: 1m
                        per_call_fee: '0.000'
                        per_min_fee: '0.000'
                        charge_interval: '60'
                        per_sms_fee: '0.0'
                        per_fax_fee: ''
                        currency: USD
                        price_category: regular
                        connect_to_type: user
                        connect_to: '2000000000'
                        activation_date: '20210525T12:42:55Z'
                        next_fee_date: '20210813T07:15:09Z'
                        reclaim_date: '20210912T07:15:09Z'
                        status: active
                        status_desc: ''
                        freetest: 'no'
                        branded: 'no'
                        freeplan: 'no'
                        fax_enabled: 'no'
                        sms_enabled: add-on
                        fax_supported: 'no'
                        sms_supported: 'no'
                        phnum: '13475550000'
                        free_test_expiry_date: ''
                        sms_settings:
                          delivery_methods:
                            - dest_type: auto
                        plan_details:
                          current_renew_mode: 1m
                          next_renew_mode: 1m
                          activation_date: '20210525T12:42:55Z'
                          next_fee_date: '20210813T07:15:09Z'
                          deactivate_date: '20210912T07:15:09Z'
                          next_recurring_fee: '1.99'
                        show: caller
                        state: New York
                        addr_req: none
                        addr_proof: 'no'
                        access_restrictions: international
                        restrictions_desc: 'If you are on Premium, all types of numbers can be subscribed for free.<br>If you want a free number, select a City number and use our free chat function at your website.'
                        cli_support: add-on
                        business_pkg_support: 'yes'
                        package: standard
                        call_recording_allowed: add-on
                        voiceapp_connect: add-on
                        csg_connect: add-on
        '404':
          description: Not Found
      operationId: get-subscribed-numbers
      description: |-
        # Get my subscribed numbers

        A number subscription resource represents a phone number that you have purchased from or ported to Sonetel, or is available for free testing in your account.

        To buy a phone number from Sonetel via the API, you can create a phone number subscription by issuing a POST request to the `/phonenumbersubscription` endpoint. [Read more](post).

        At the time of purchase, or later via an update, you can choose how the incoming calls to it should be handled. For example, you can specify whether calls should be sent to a mobile number, SIP address or your voicemail box.
      parameters:
        - schema:
            type: string
          in: header
          name: Authorization
          description: Bearer <ACCESS_TOKEN>
          required: true
    post:
      summary: Buy a number
      operationId: postaccount-accountid-phonenumbersubscription
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Single-phone-number-subscription'
              examples: {}
        '401':
          description: Unauthorized
      description: |-
        # Buy a number

        A phone number subscription is created when a phone number is assigned to your Sonetel account.

        To purchase a new number, issue a POST to the `/phonenumbersubscription` resource and mention the phone number in the body in the `phnum` field.

        <!-- theme: warning -->
        > If you do not specify the `connect_to` and `connect_to_type` properties while purchasing the number, it will not be connected to any destination by default and incoming calls to it will not work.

        The charges for the phone number are debited from your Sonetel prepaid account when the number is successfully assigned to you. You can add credit to your prepaid account from [app.sonetel.com](https://app.sonetel.com/account-settings/prepaid-account).

        > Use the [/account]() endpoint to check whether you have enough prepaid credit to purchase the phone number.

        To find a phone number that you want to buy, you can use [/numberstocksummary](Number%20Management.yaml/paths/~1numberstocksummary~1{country}/get) and [/availablephonenumber](Number%20Management.yaml/paths/~1numberstocksummary~1{country}~1availablephonenumber/get) resources.

        The response carries the phone number subscription resource.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                phnum:
                  type: string
                  description: The phone number that you want to purchase.
                connect_to_type:
                  type: string
                  enum:
                    - user
                    - phnum
                    - sip
                    - app
                  description: The type of destination that the phone number is connected to for receiving incoming calls.
                connect_to:
                  type: string
                  description: 'The object that the phone number is connected to. It can be a userId, a phone number or a SIP address.'
              required:
                - phnum
            examples:
              Example (buy):
                value:
                  phnum: '12025551234'
              Example (buy & connect to SIP):
                value:
                  phnum: '12025551234'
                  connect_to_type: sip
                  connect_to: '12025551234@264.12.345.34:13410'
        description: ''
      parameters:
        - schema:
            type: string
            default: application/json
          in: header
          name: Content-Type
          description: application/json
          required: true
        - schema:
            type: string
          in: header
          name: Authorization
          description: Bearer <ACCESS_TOKEN>
          required: true
  'account/{accountid}/phonenumbersubscription/{phnum}':
    parameters:
      - schema:
          type: string
        name: accountid
        in: path
        required: true
        description: Your Sonetel account ID
      - schema:
          type: string
        name: phnum
        in: path
        required: true
        description: Your phone number in the E164 format without the leading +.
    put:
      summary: Update number settings
      operationId: putaccount-accountid-phonenumbersubscription-phnum
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              x-examples:
                example-1:
                  connect_to_type: phnum
                  connect_to: '+919866241476'
                  show: caller
              properties:
                connect_to_type:
                  type: string
                  minLength: 1
                  enum:
                    - user
                    - phnum
                    - sip
                    - app
                  description: The type of destination that the phone number is connected to for receiving incoming calls.
                connect_to:
                  type: string
                  minLength: 1
                  description: 'The object that the phone number is connected to. It can be a userId, a phone number or a SIP address.'
              required:
                - connect_to_type
                - connect_to
            examples:
              Example (user):
                value:
                  connect_to_type: user
                  connect_to: '200000000'
              Example (voicemail):
                value:
                  connect_to_type: app
                  connect_to:
                    app_type: mailbox
                    app_id: UNIQUE_APP_ID
      description: |
        # Update number settings

        After a phone number has been subscribed, you can issue a PUT request in order to change its settings such as the destination it is connected to, the package that it is on (standard or business).

        ## Change the package

        We offer an optional package for phone numbers that provides additional benefits such as access to voiceapps, the ability to show the phone number as the caller ID and much more.

        You can read more about this [at our website](https://sonetel.com/business-package/).

        In order to upgrade your phone numbe from the standard package to the business package, issue a PUT request as indicated below:

        ```c
        curl \
          --location 
          --request PUT 'https://chat-api.sonetel.com/account/200000000/phonenumbersubscription/14015550000' \
          --header 'Content-Type: application/json' \
          --header 'Authorization: Bearer ACCESS_TOKEN' \
          --data-raw '{
            "package" : "business"
          }'
        ```

        > A fee of $4.99 per month applies for each instance of business package enabled on your phone numbers. This is charged in addition to the `recurring_fee` of the phone number.

        ## Change Call forwarding

        Incoming calls to a phone number can be sent to various types of destinations such as a user, a voice app or your mobile number.

        The `connect_to_type` and `connect_to` properties together define the destination where the number is connected. The below table specifies how these two properties can be used.

        | Destination | connect_to_type | connect_to |
        |--------------|-----------------|------------|
        |a user|user| [UserId](Users.yaml/paths/~1user/get) of the user|
        |any mobile or landline number|phnum|the destination number in E164 format with '+'. For example, +14015550000|
        |SIP URI|sip|\[sip:\]sip_uri@domain_or_ip\[:port\]|
        |a voice app|app|`{ “app_type” : “ivr”, “app_id” : "UNIQUE_APP_ID" }`|

        **Note**:
        1. To get the `userid` for all the users in your account, issue a GET request to the `/account/{accountid}/user` endpoint.
        2. A list of all the voice apps in your account and their `app_id` can be fetched from `/account/{accountid}/voiceapp`

        > ### Connecting numbers to a voiceapp
        > 
        > Only phone numbers with the [Business package](https://sonetel.com/business-package/) or ones that are free with website or [Premium](https://sonetel.com/premium/) can be connected to a voice app.
        > Business package and Premium can be enabled from [app.sonetel.com](https://app.sonetel.com)
      parameters:
        - schema:
            type: string
            default: application/json
          in: header
          name: Content-Type
          description: application/json
          required: true
        - schema:
            type: string
          in: header
          name: Authorization
          description: Bearer <ACCESS_TOKEN>
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Single-phone-number-subscription'
    get:
      summary: Get my number details
      operationId: getaccount-accountid-phonenumbersubscription-phnum
      description: |-
        # Get my number details

        Send a GET request  to the `/phonenumbersubscription/{phnum}` endpoint to see the details of a specific phone number assigned to your account.

        Here `{phnum}` represents a phone number assigned to your account in the E164 format without the leading plus sign. For example, if the phone number is +1 (401) 555-0000, the API call will be `/account/{accountid}/phonenumbersubscription/14015550000`

        The response carries the phone number resource with its properties such as the destination it is connected to, the next date on which the subscription fee is due and so on.
      parameters:
        - schema:
            type: string
          in: header
          name: Authorization
          description: Bearer <ACCESS_TOKEN>
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Single-phone-number-subscription'
    delete:
      summary: Return number
      operationId: deleteaccount-accountid-phonenumbersubscription-phnum
      description: |-
        # Return number

        A phone number subscription can be removed from your account by issuing a DELETE request to the phone number subscription resource.

        Mention the phone number to delete in the request URI. Deleting a phone number subscription permanently removes it.

        <!-- theme: warning -->
        > Please be careful when deleting subscriptions, it may not be possible to re-assign the phone number once it is removed from your account.

        Issuing a DELETE request to the phone number resource immediately removes it from your Sonetel account. If you wish to return the number after the current subscription period is over, you can turn off the renewal instead.

        1. Sign in to your account from [app.sonetel.com](https://app.sonetel.com)
        2. Go to the [Phone numbers](https://app.sonetel.com/account-settings/phone-numbers) section.
        3. Click on the number you wish to return and change the renewal mode from *Subscription* to **Do not renew**
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  resource:
                    type: string
                    minLength: 1
                  status:
                    type: string
                    minLength: 1
                  response:
                    type: string
                    minLength: 1
                required:
                  - resource
                  - status
                  - response
                x-examples:
                  example-1:
                    resource: phonenumbersubscription
                    status: success
                    response: Successfully removed subscription of phone number 14012233433 from account 206497932
              examples:
                Example:
                  value:
                    resource: phonenumbersubscription
                    status: success
                    response: Successfully removed subscription of phone number <PHONE_NUMBER> from account <ACCOUNT_ID>
      parameters:
        - schema:
            type: string
          in: header
          name: Authorization
          description: Bearer <ACCESS_TOKEN>
          required: true
components:
  schemas:
    List-PhnumSubscriptions:
      description: This is a list of subscriptions under an account
      type: object
      x-examples:
        example-1:
          page_metadata:
            pagination_type: static
            count: '126'
            page_count: '1'
            previous: NA
            next: NA
            page: '1'
            first: NA
            last: NA
            sort:
              property: activation_date
              ignoreCase: false
              nullHandling: client
              descending: true
              ascending: false
          resource: phonenumbersubscription
          response:
            - account_id: '2000000007'
              country_code: '46'
              area_code: '8'
              country: SWE
              is_part_of_series: 'no'
              range: '1'
              city: Stockholm (8)
              type: geographic
              one_time_fee: '0.0'
              recurring_fee: '52.0'
              recurrence_interval: 1m
              per_call_fee: '0.00'
              per_min_fee: '0.00'
              charge_interval: '60'
              per_sms_fee: ''
              per_fax_fee: ''
              currency: SEK
              price_category: regular
              connect_to_type: user
              connect_to: '2001175089'
              activation_date: '20200217T09:36:10Z'
              next_fee_date: '20210717T09:36:10Z'
              reclaim_date: '20210816T09:36:10Z'
              status: active
              status_desc: ''
              freetest: 'no'
              branded: 'no'
              freeplan: 'no'
              fax_enabled: 'no'
              sms_enabled: 'yes'
              fax_supported: 'no'
              sms_supported: 'yes'
              phnum: '46842002735'
              free_test_expiry_date: ''
              sms_settings:
                delivery_methods:
                  - dest_type: auto
              plan_details:
                current_renew_mode: 1m
                next_renew_mode: 1m
                activation_date: '20200217T09:36:10Z'
                next_fee_date: '20210717T09:36:10Z'
                deactivate_date: '20210816T09:36:10Z'
                next_recurring_fee: '52.00'
              show: caller
              rule_set_id: ''
              addr_req: none
              addr_proof: 'no'
              access_restrictions: mobile
              restrictions_desc: 'If you are on Premium, City and Mobile numbers can be subscribed for free.<br>If you want a free number, select a City number and use our free chat function at your website.'
              cli_support: 'yes'
              business_pkg_support: 'no'
              package: regular
              call_recording_allowed: 'yes'
              voiceapp_connect: 'yes'
              csg_connect: 'yes'
            - account_id: '2000000007'
              country_code: '1'
              area_code: '917'
              country: USA
              is_part_of_series: 'no'
              range: '1'
              city: New York (917)
              type: geographic
              one_time_fee: '0.0'
              recurring_fee: '33.0'
              recurrence_interval: 1m
              per_call_fee: '0.00'
              per_min_fee: '0.00'
              charge_interval: '60'
              per_sms_fee: '0.0'
              per_fax_fee: ''
              currency: SEK
              price_category: regular
              connect_to_type: user
              connect_to: '2000000030'
              activation_date: '20190712T05:13:23Z'
              next_fee_date: '20221212T05:13:23Z'
              reclaim_date: '20230111T05:13:23Z'
              status: active
              status_desc: ''
              freetest: 'no'
              branded: 'no'
              freeplan: 'no'
              fax_enabled: 'no'
              sms_enabled: 'yes'
              fax_supported: 'no'
              sms_supported: 'no'
              phnum: '19177930790'
              free_test_expiry_date: ''
              sms_settings:
                delivery_methods:
                  - dest_type: auto
              plan_details:
                current_renew_mode: 3y
                next_renew_mode: 3y
                activation_date: '20190712T05:13:23Z'
                next_fee_date: '20221212T05:13:23Z'
                deactivate_date: '20230111T05:13:23Z'
                next_recurring_fee: '736.00'
              show: caller
              state: New York
              addr_req: none
              addr_proof: 'no'
              access_restrictions: international
              restrictions_desc: 'If you are on Premium, all types of numbers can be subscribed for free.<br>If you want a free number, select a City number and use our free chat function at your website.'
              cli_support: 'yes'
              business_pkg_support: 'no'
              package: regular
              call_recording_allowed: 'yes'
              voiceapp_connect: 'yes'
              csg_connect: 'yes'
            - account_id: '2000000007'
              country_code: '46'
              area_code: '8'
              country: SWE
              is_part_of_series: 'no'
              range: '1'
              city: Stockholm (8)
              type: geographic
              one_time_fee: '0.0'
              recurring_fee: '52.0'
              recurrence_interval: 1m
              per_call_fee: '0.00'
              per_min_fee: '0.00'
              charge_interval: '60'
              per_sms_fee: ''
              per_fax_fee: ''
              currency: SEK
              price_category: regular
              connect_to_type: user
              connect_to: '2001175089'
              activation_date: '20190709T11:47:19Z'
              next_fee_date: '20221209T11:47:19Z'
              reclaim_date: '20230108T11:47:19Z'
              status: active
              status_desc: ''
              freetest: 'no'
              branded: 'no'
              freeplan: 'no'
              fax_enabled: 'no'
              sms_enabled: 'yes'
              fax_supported: 'no'
              sms_supported: 'yes'
              phnum: '46812112947'
              free_test_expiry_date: ''
              sms_settings:
                delivery_methods:
                  - dest_type: auto
              plan_details:
                current_renew_mode: 3y
                next_renew_mode: 3y
                activation_date: '20190709T11:47:19Z'
                next_fee_date: '20221209T11:47:19Z'
                deactivate_date: '20230108T11:47:19Z'
                next_recurring_fee: '1268.00'
              show: caller
              rule_set_id: ''
              addr_req: none
              addr_proof: 'no'
              access_restrictions: mobile
              restrictions_desc: 'If you are on Premium, City and Mobile numbers can be subscribed for free.<br>If you want a free number, select a City number and use our free chat function at your website.'
              cli_support: 'yes'
              business_pkg_support: 'no'
              package: regular
              call_recording_allowed: 'yes'
              voiceapp_connect: 'yes'
              csg_connect: 'yes'
            - account_id: '2000000007'
              country_code: '43'
              area_code: '720'
              country: AUT
              is_part_of_series: 'no'
              range: '1'
              city: National (720)
              type: national
              one_time_fee: '0.0'
              recurring_fee: '43.0'
              recurrence_interval: 1m
              per_call_fee: '0.00'
              per_min_fee: '0.00'
              charge_interval: '60'
              per_sms_fee: ''
              per_fax_fee: ''
              currency: SEK
              price_category: regular
              connect_to_type: phnum
              connect_to: '2564644545'
              activation_date: '20190618T08:46:32Z'
              next_fee_date: '20221118T08:46:32Z'
              reclaim_date: '20221218T08:46:32Z'
              status: active
              status_desc: ''
              freetest: 'no'
              branded: 'no'
              freeplan: 'no'
              fax_enabled: 'no'
              sms_enabled: 'yes'
              fax_supported: 'no'
              sms_supported: 'yes'
              phnum: '43720022203'
              free_test_expiry_date: ''
              sms_settings:
                delivery_methods:
                  - dest_type: auto
              plan_details:
                current_renew_mode: 3y
                next_renew_mode: 3y
                activation_date: '20190618T08:46:32Z'
                next_fee_date: '20221118T08:46:32Z'
                deactivate_date: '20221218T08:46:32Z'
                next_recurring_fee: '1032.00'
              show: caller
              addr_req: none
              addr_proof: 'yes'
              access_restrictions: international
              restrictions_desc: 'Toll-free numbers are recommended for customers outside Austria.<br>National numbers require that you provide your address anywhere in Austria.<br>If you are on Premium, you can select National numbers for free.<br>Free-for-website numbers are not available in Austria.'
              cli_support: 'yes'
              business_pkg_support: 'no'
              package: regular
              call_recording_allowed: 'yes'
              voiceapp_connect: 'yes'
              csg_connect: 'yes'
            - account_id: '2000000007'
              country_code: '1'
              area_code: '857'
              country: USA
              is_part_of_series: 'no'
              range: '1'
              city: Boston (857)
              type: geographic
              one_time_fee: '0.0'
              recurring_fee: '33.0'
              recurrence_interval: 1m
              per_call_fee: '0.00'
              per_min_fee: '0.00'
              charge_interval: '60'
              per_sms_fee: '0.0'
              per_fax_fee: ''
              currency: SEK
              price_category: regular
              connect_to_type: user
              connect_to: '2014765420'
              activation_date: '20190529T15:32:11Z'
              next_fee_date: '20221129T15:32:11Z'
              reclaim_date: '20221229T15:32:11Z'
              status: active
              status_desc: ''
              freetest: 'no'
              branded: 'no'
              freeplan: 'no'
              fax_enabled: 'no'
              sms_enabled: 'yes'
              fax_supported: 'no'
              sms_supported: 'no'
              phnum: '18574007071'
              free_test_expiry_date: ''
              sms_settings:
                delivery_methods:
                  - dest_type: auto
              plan_details:
                current_renew_mode: 3y
                next_renew_mode: 3y
                activation_date: '20190529T15:32:11Z'
                next_fee_date: '20221129T15:32:11Z'
                deactivate_date: '20221229T15:32:11Z'
                next_recurring_fee: '736.00'
              show: caller
              rule_set_id: ''
              state: Massachusetts
              addr_req: none
              addr_proof: 'no'
              access_restrictions: international
              restrictions_desc: 'If you are on Premium, all types of numbers can be subscribed for free.<br>If you want a free number, select a City number and use our free chat function at your website.'
              cli_support: 'yes'
              business_pkg_support: 'no'
              package: regular
              call_recording_allowed: 'yes'
              voiceapp_connect: 'yes'
              csg_connect: 'yes'
            - account_id: '2000000007'
              country_code: '61'
              area_code: '29'
              country: AUS
              is_part_of_series: 'no'
              range: '1'
              city: Sydney (29)
              type: geographic
              one_time_fee: '0.0'
              recurring_fee: '82.0'
              recurrence_interval: 1m
              per_call_fee: '0.00'
              per_min_fee: '0.00'
              charge_interval: '60'
              per_sms_fee: ''
              per_fax_fee: ''
              currency: SEK
              price_category: regular
              connect_to_type: app
              connect_to:
                app_type: ivr
                app_id: VAi6345m4oioi
              activation_date: '20190529T09:26:24Z'
              next_fee_date: '20221129T09:26:24Z'
              reclaim_date: '20221229T09:26:24Z'
              status: active
              status_desc: ''
              freetest: 'no'
              branded: 'no'
              freeplan: 'no'
              fax_enabled: 'no'
              sms_enabled: 'no'
              fax_supported: 'no'
              sms_supported: 'yes'
              phnum: '61290984417'
              free_test_expiry_date: ''
              plan_details:
                current_renew_mode: 3y
                next_renew_mode: 3y
                activation_date: '20190529T09:26:24Z'
                next_fee_date: '20221129T09:26:24Z'
                deactivate_date: '20221229T09:26:24Z'
                next_recurring_fee: '1711.00'
              show: caller
              rule_set_id: 5dbc0ec7de70ca516aed3039
              addr_req: global
              addr_proof: 'yes'
              access_restrictions: international
              restrictions_desc: 'Anyone can buy a number in Australia.<br>Mobile numbers require that you provide your address (anywhere in the world) and other supporting documents.<br>If you are on Premium, you can select City and Mobile numbers for free.<br>Free-for-website numbers are not available in Australia.'
              cli_support: 'yes'
              business_pkg_support: 'no'
              package: regular
              call_recording_allowed: 'yes'
              voiceapp_connect: 'yes'
              csg_connect: 'yes'
            - account_id: '2000000007'
              country_code: '33'
              area_code: '7'
              country: FRA
              is_part_of_series: 'no'
              range: '1'
              city: Mobile (7)
              type: mobile
              one_time_fee: '0.0'
              recurring_fee: '52.0'
              recurrence_interval: 1m
              per_call_fee: '0.00'
              per_min_fee: '0.00'
              charge_interval: '60'
              per_sms_fee: '0.0'
              per_fax_fee: ''
              currency: SEK
              price_category: regular
              connect_to_type: app
              connect_to:
                app_type: mailbox
                app_id: VAi6345m4o9o8
              activation_date: '20190527T15:12:47Z'
              next_fee_date: '20221127T15:12:47Z'
              reclaim_date: '20221227T15:12:47Z'
              status: active
              status_desc: ''
              freetest: 'no'
              branded: 'no'
              freeplan: 'no'
              fax_enabled: 'no'
              sms_enabled: 'yes'
              fax_supported: 'no'
              sms_supported: 'yes'
              phnum: '33755538917'
              free_test_expiry_date: ''
              sms_settings:
                delivery_methods:
                  - dest_type: user
                    dest_id: '2000000026'
              plan_details:
                current_renew_mode: 3y
                next_renew_mode: 3y
                activation_date: '20190527T15:12:47Z'
                next_fee_date: '20221127T15:12:47Z'
                deactivate_date: '20221227T15:12:47Z'
                next_recurring_fee: '1386.00'
              show: caller
              addr_req: global
              addr_proof: 'yes'
              access_restrictions: payphone
              restrictions_desc: 'City numbers require that you provide an address in the area of the phone number along with supporting documents.<br>Toll-free and National numbers require that you provide an address (anywhere in France).<br>If you are on Premium, City and National numbers can be subscribed for free.<br>If you want a free number, select a City or National number and use our free chat function at your website.'
              cli_support: 'yes'
              business_pkg_support: 'no'
              package: regular
              call_recording_allowed: 'yes'
              voiceapp_connect: 'yes'
              csg_connect: 'yes'
            - account_id: '2000000007'
              country_code: '61'
              area_code: '29'
              country: AUS
              is_part_of_series: 'no'
              range: '1'
              city: Sydney (29)
              type: geographic
              one_time_fee: '0.0'
              recurring_fee: '82.0'
              recurrence_interval: 1m
              per_call_fee: '0.00'
              per_min_fee: '0.00'
              charge_interval: '60'
              per_sms_fee: ''
              per_fax_fee: ''
              currency: SEK
              price_category: regular
              connect_to_type: app
              connect_to:
                app_type: ivr
                app_id: VAi6345m4oioic
              activation_date: '20190524T09:19:18Z'
              next_fee_date: '20221124T09:19:18Z'
              reclaim_date: '20221224T09:19:18Z'
              status: active
              status_desc: ''
              freetest: 'no'
              branded: 'no'
              freeplan: 'no'
              fax_enabled: 'no'
              sms_enabled: 'yes'
              fax_supported: 'no'
              sms_supported: 'yes'
              phnum: '61290984744'
              free_test_expiry_date: ''
              sms_settings:
                delivery_methods:
                  - dest_type: auto
              plan_details:
                current_renew_mode: 3y
                next_renew_mode: 3y
                activation_date: '20190524T09:19:18Z'
                next_fee_date: '20221124T09:19:18Z'
                deactivate_date: '20221224T09:19:18Z'
                next_recurring_fee: '1711.00'
              show: caller
              addr_req: global
              addr_proof: 'yes'
              access_restrictions: international
              restrictions_desc: 'Anyone can buy a number in Australia.<br>Mobile numbers require that you provide your address (anywhere in the world) and other supporting documents.<br>If you are on Premium, you can select City and Mobile numbers for free.<br>Free-for-website numbers are not available in Australia.'
              cli_support: 'yes'
              business_pkg_support: 'no'
              package: regular
              call_recording_allowed: 'yes'
              voiceapp_connect: 'yes'
              csg_connect: 'yes'
            - account_id: '2000000007'
              country_code: '86'
              area_code: '10'
              country: CHN
              is_part_of_series: 'no'
              range: '1'
              city: Beijing (10)
              type: geographic
              one_time_fee: '0.0'
              recurring_fee: '217.0'
              recurrence_interval: 1m
              per_call_fee: '0.00'
              per_min_fee: '0.00'
              charge_interval: '60'
              per_sms_fee: ''
              per_fax_fee: ''
              currency: SEK
              price_category: regular
              connect_to_type: app
              connect_to:
                app_type: ivr
                app_id: VAi6345m4oioic
              activation_date: '20190514T05:18:36Z'
              next_fee_date: '20220514T05:18:36Z'
              reclaim_date: '20220613T05:18:36Z'
              status: active
              status_desc: ''
              freetest: 'no'
              branded: 'no'
              freeplan: 'no'
              fax_enabled: 'no'
              sms_enabled: 'no'
              fax_supported: 'no'
              sms_supported: 'no'
              phnum: '861087833345'
              free_test_expiry_date: ''
              plan_details:
                current_renew_mode: 1y
                next_renew_mode: 1y
                activation_date: '20190514T05:18:36Z'
                next_fee_date: '20220514T05:18:36Z'
                deactivate_date: '20220613T05:18:36Z'
                next_recurring_fee: '2486.00'
              show: caller
              rule_set_id: ''
              addr_req: global
              addr_proof: 'yes'
              access_restrictions: ''
              restrictions_desc: Phone numbers can only be purchased by registered companies.<br>A detailed description of how the phone number is going to be used needs to be provided along with other supporting documents.<br>Phone numbers from China cannot be used as caller ID when making calls to China.<br>Phone numbers in China are not available for free with Premium and cannot be used for free on your website.
              cli_support: 'yes'
              business_pkg_support: 'no'
              package: regular
              call_recording_allowed: 'yes'
              voiceapp_connect: 'yes'
              csg_connect: 'yes'
            - account_id: '2000000007'
              country_code: '46'
              area_code: '8'
              country: SWE
              is_part_of_series: 'no'
              range: '1'
              city: Stockholm (8)
              type: geographic
              one_time_fee: '0.0'
              recurring_fee: '52.0'
              recurrence_interval: 1m
              per_call_fee: '0.00'
              per_min_fee: '0.00'
              charge_interval: '60'
              per_sms_fee: ''
              per_fax_fee: ''
              currency: SEK
              price_category: regular
              connect_to_type: user
              connect_to: '2001175089'
              activation_date: '20190506T14:21:23Z'
              next_fee_date: '20221206T14:21:23Z'
              reclaim_date: '20230105T14:21:23Z'
              status: active
              status_desc: ''
              freetest: 'no'
              branded: 'no'
              freeplan: 'no'
              fax_enabled: 'no'
              sms_enabled: 'yes'
              fax_supported: 'no'
              sms_supported: 'yes'
              phnum: '46812400652'
              free_test_expiry_date: ''
              sms_settings:
                delivery_methods:
                  - dest_type: auto
              plan_details:
                current_renew_mode: 3y
                next_renew_mode: 3y
                activation_date: '20190506T14:21:23Z'
                next_fee_date: '20221206T14:21:23Z'
                deactivate_date: '20230105T14:21:23Z'
                next_recurring_fee: '1268.00'
              show: caller
              rule_set_id: ''
              addr_req: none
              addr_proof: 'no'
              access_restrictions: mobile
              restrictions_desc: 'If you are on Premium, City and Mobile numbers can be subscribed for free.<br>If you want a free number, select a City number and use our free chat function at your website.'
              cli_support: 'yes'
              business_pkg_support: 'no'
              package: regular
              call_recording_allowed: 'yes'
              voiceapp_connect: 'yes'
              csg_connect: 'yes'
            - account_id: '2000000007'
              country_code: '61'
              area_code: '29'
              country: AUS
              is_part_of_series: 'no'
              range: '1'
              city: Sydney (29)
              type: geographic
              one_time_fee: '0.0'
              recurring_fee: '82.0'
              recurrence_interval: 1m
              per_call_fee: '0.00'
              per_min_fee: '0.00'
              charge_interval: '60'
              per_sms_fee: ''
              per_fax_fee: ''
              currency: SEK
              price_category: regular
              connect_to_type: phnum
              connect_to: '+919985922774'
              activation_date: '20190227T06:45:01Z'
              next_fee_date: '20221127T06:45:01Z'
              reclaim_date: '20221227T06:45:01Z'
              status: active
              status_desc: ''
              freetest: 'no'
              branded: 'no'
              freeplan: 'no'
              fax_enabled: 'no'
              sms_enabled: 'yes'
              fax_supported: 'no'
              sms_supported: 'yes'
              phnum: '61291919784'
              free_test_expiry_date: ''
              sms_settings:
                delivery_methods:
                  - dest_type: auto
              plan_details:
                current_renew_mode: 3y
                next_renew_mode: 3y
                activation_date: '20190227T06:45:01Z'
                next_fee_date: '20221127T06:45:01Z'
                deactivate_date: '20221227T06:45:01Z'
                next_recurring_fee: '1711.00'
              show: caller
              addr_req: global
              addr_proof: 'yes'
              access_restrictions: international
              restrictions_desc: 'Anyone can buy a number in Australia.<br>Mobile numbers require that you provide your address (anywhere in the world) and other supporting documents.<br>If you are on Premium, you can select City and Mobile numbers for free.<br>Free-for-website numbers are not available in Australia.'
              cli_support: 'yes'
              business_pkg_support: 'no'
              package: regular
              call_recording_allowed: 'yes'
              voiceapp_connect: 'yes'
              csg_connect: 'yes'
            - account_id: '2000000007'
              country_code: '1'
              area_code: '202'
              country: USA
              is_part_of_series: 'no'
              range: '1'
              city: Washington  Dc (202)
              type: geographic
              one_time_fee: '0.0'
              recurring_fee: '33.0'
              recurrence_interval: 1m
              per_call_fee: '0.00'
              per_min_fee: '0.00'
              charge_interval: '60'
              per_sms_fee: '0.0'
              per_fax_fee: ''
              currency: SEK
              price_category: regular
              connect_to_type: app
              connect_to:
                app_type: ivr
                app_id: VAi6345m4oioic
              activation_date: '20190225T07:18:33Z'
              next_fee_date: '20210625T07:18:33Z'
              reclaim_date: '20210725T07:18:33Z'
              status: active
              status_desc: ''
              freetest: 'no'
              branded: 'no'
              freeplan: 'no'
              fax_enabled: 'no'
              sms_enabled: 'yes'
              fax_supported: 'no'
              sms_supported: 'no'
              phnum: '12028698283'
              free_test_expiry_date: ''
              sms_settings:
                delivery_methods:
                  - dest_type: auto
              plan_details:
                current_renew_mode: 1m
                next_renew_mode: 1m
                activation_date: '20190225T07:18:33Z'
                next_fee_date: '20210625T07:18:33Z'
                deactivate_date: '20210725T07:18:33Z'
                next_recurring_fee: '33.00'
              show: caller
              state: Washington DC
              addr_req: none
              addr_proof: 'no'
              access_restrictions: international
              restrictions_desc: 'If you are on Premium, all types of numbers can be subscribed for free.<br>If you want a free number, select a City number and use our free chat function at your website.'
              cli_support: 'yes'
              business_pkg_support: 'no'
              package: regular
              call_recording_allowed: 'yes'
              voiceapp_connect: 'yes'
              csg_connect: 'yes'
            - account_id: '2000000007'
              country_code: '61'
              area_code: '29'
              country: AUS
              is_part_of_series: 'no'
              range: '1'
              city: Sydney (29)
              type: geographic
              one_time_fee: '0.0'
              recurring_fee: '82.0'
              recurrence_interval: 1m
              per_call_fee: '0.00'
              per_min_fee: '0.00'
              charge_interval: '60'
              per_sms_fee: ''
              per_fax_fee: ''
              currency: SEK
              price_category: regular
              connect_to_type: app
              connect_to:
                app_type: ivr
                app_id: VAi6345m4oioic
              activation_date: '20190122T05:07:49Z'
              next_fee_date: '20221122T05:07:49Z'
              reclaim_date: '20221222T05:07:49Z'
              status: active
              status_desc: ''
              freetest: 'no'
              branded: 'no'
              freeplan: 'no'
              fax_enabled: 'no'
              sms_enabled: 'no'
              fax_supported: 'no'
              sms_supported: 'yes'
              phnum: '61291192904'
              free_test_expiry_date: ''
              plan_details:
                current_renew_mode: 3y
                next_renew_mode: 3y
                activation_date: '20190122T05:07:49Z'
                next_fee_date: '20221122T05:07:49Z'
                deactivate_date: '20221222T05:07:49Z'
                next_recurring_fee: '1711.00'
              show: caller
              addr_req: global
              addr_proof: 'yes'
              access_restrictions: international
              restrictions_desc: 'Anyone can buy a number in Australia.<br>Mobile numbers require that you provide your address (anywhere in the world) and other supporting documents.<br>If you are on Premium, you can select City and Mobile numbers for free.<br>Free-for-website numbers are not available in Australia.'
              cli_support: 'yes'
              business_pkg_support: 'no'
              package: regular
              call_recording_allowed: 'yes'
              voiceapp_connect: 'yes'
              csg_connect: 'yes'
            - account_id: '2000000007'
              country_code: '371'
              area_code: '678'
              country: LVA
              is_part_of_series: 'no'
              range: '1'
              city: Riga (678)
              type: geographic
              one_time_fee: '0.0'
              recurring_fee: '60.0'
              recurrence_interval: 1m
              per_call_fee: '0.00'
              per_min_fee: '0.00'
              charge_interval: '60'
              per_sms_fee: ''
              per_fax_fee: ''
              currency: SEK
              price_category: regular
              connect_to_type: app
              connect_to:
                app_type: ivr
                app_id: VAi6345m4oioic
              activation_date: '20180928T09:27:07Z'
              next_fee_date: '20211028T09:27:07Z'
              reclaim_date: '20211127T09:27:07Z'
              status: active
              status_desc: ''
              freetest: 'no'
              branded: 'no'
              freeplan: 'no'
              fax_enabled: 'no'
              sms_enabled: 'no'
              fax_supported: 'no'
              sms_supported: 'no'
              phnum: '37167859988'
              free_test_expiry_date: ''
              plan_details:
                current_renew_mode: 3y
                next_renew_mode: 3y
                activation_date: '20180928T09:27:07Z'
                next_fee_date: '20211028T09:27:07Z'
                deactivate_date: '20211127T09:27:07Z'
                next_recurring_fee: '1642.00'
              show: caller
              rule_set_id: ''
              addr_req: none
              addr_proof: 'no'
              access_restrictions: ''
              restrictions_desc: 'Latvian numbers can only be purchased by customers that live or work at an address inside Latvia.<br>Supporting documents must be shared after ordering the numbers otherwise they will be disconnected.<br>If you are on Premium, City numbers can be subscribed for free.<br>Free-for-website numbers are not available in Latvia.'
              cli_support: 'no'
              business_pkg_support: 'no'
              package: regular
              call_recording_allowed: 'yes'
              voiceapp_connect: 'yes'
              csg_connect: 'yes'
            - account_id: '2000000007'
              country_code: '1'
              area_code: '415'
              country: USA
              is_part_of_series: 'no'
              range: '1'
              city: 'San Francisco: Central Da (415)'
              type: geographic
              one_time_fee: '0.0'
              recurring_fee: '38.0'
              recurrence_interval: 1m
              per_call_fee: '0.00'
              per_min_fee: '0.00'
              charge_interval: '60'
              per_sms_fee: '0.0'
              per_fax_fee: ''
              currency: SEK
              price_category: regular
              connect_to_type: user
              connect_to: '2001175089'
              activation_date: '20180805T15:43:08Z'
              next_fee_date: '20221205T15:43:08Z'
              reclaim_date: '20230104T15:43:08Z'
              status: active
              status_desc: ''
              freetest: 'no'
              branded: 'no'
              freeplan: 'no'
              fax_enabled: 'no'
              sms_enabled: 'yes'
              fax_supported: 'no'
              sms_supported: 'no'
              phnum: '14155296668'
              free_test_expiry_date: ''
              sms_settings:
                delivery_methods:
                  - dest_type: auto
              plan_details:
                current_renew_mode: 3y
                next_renew_mode: 3y
                activation_date: '20180805T15:43:08Z'
                next_fee_date: '20221205T15:43:08Z'
                deactivate_date: '20230104T15:43:08Z'
                next_recurring_fee: '928.00'
              show: caller
              rule_set_id: ''
              state: California
              addr_req: none
              addr_proof: 'no'
              access_restrictions: international
              restrictions_desc: 'If you are on Premium, all types of numbers can be subscribed for free.<br>If you want a free number, select a City number and use our free chat function at your website.'
              cli_support: 'no'
              package: regular
              call_recording_allowed: 'yes'
              voiceapp_connect: 'yes'
              csg_connect: 'yes'
            - account_id: '2000000007'
              country_code: '46'
              area_code: '8'
              country: SWE
              is_part_of_series: 'no'
              range: '1'
              city: Stockholm (8)
              type: geographic
              one_time_fee: '0.0'
              recurring_fee: '65.0'
              recurrence_interval: 1m
              per_call_fee: '0.00'
              per_min_fee: '0.00'
              charge_interval: '60'
              per_sms_fee: ''
              per_fax_fee: ''
              currency: SEK
              price_category: regular
              connect_to_type: user
              connect_to: '2001175089'
              activation_date: '20180116T11:03:57Z'
              next_fee_date: '20221116T11:03:57Z'
              reclaim_date: '20221216T11:03:57Z'
              status: active
              status_desc: ''
              freetest: 'no'
              branded: 'no'
              freeplan: 'no'
              fax_enabled: 'no'
              sms_enabled: 'yes'
              fax_supported: 'no'
              sms_supported: 'yes'
              phnum: '46840839674'
              free_test_expiry_date: ''
              sms_settings:
                delivery_methods:
                  - dest_type: auto
              plan_details:
                current_renew_mode: 3y
                next_renew_mode: 3y
                activation_date: '20180116T11:03:57Z'
                next_fee_date: '20221116T11:03:57Z'
                deactivate_date: '20221216T11:03:57Z'
                next_recurring_fee: '1749.00'
              show: caller
              rule_set_id: ''
              addr_req: none
              addr_proof: 'no'
              access_restrictions: mobile
              restrictions_desc: 'If you are on Premium, City and Mobile numbers can be subscribed for free.<br>If you want a free number, select a City number and use our free chat function at your website.'
              cli_support: 'no'
              package: regular
              call_recording_allowed: 'yes'
              voiceapp_connect: 'yes'
              csg_connect: 'yes'
            - account_id: '2000000007'
              country_code: '46'
              area_code: '766'
              country: SWE
              is_part_of_series: 'no'
              range: '1'
              city: Mobile (766)
              type: mobile
              one_time_fee: '0.0'
              recurring_fee: '56.0'
              recurrence_interval: 1m
              per_call_fee: '0.00'
              per_min_fee: '0.00'
              charge_interval: '60'
              per_sms_fee: '0.0'
              per_fax_fee: ''
              currency: SEK
              price_category: regular
              connect_to_type: app
              connect_to:
                app_type: ivr
                app_id: VAi6345m4oioiz
              activation_date: '20160201T06:32:58Z'
              next_fee_date: '20210701T06:32:58Z'
              reclaim_date: '20210731T06:32:58Z'
              status: active
              status_desc: ''
              freetest: 'no'
              branded: 'no'
              freeplan: 'no'
              fax_enabled: 'no'
              sms_enabled: 'no'
              fax_supported: 'no'
              sms_supported: 'yes'
              phnum: '46766920153'
              free_test_expiry_date: ''
              plan_details:
                current_renew_mode: 1m
                next_renew_mode: 1m
                activation_date: '20160201T06:32:58Z'
                next_fee_date: '20210701T06:32:58Z'
                deactivate_date: '20210731T06:32:58Z'
                next_recurring_fee: '56.00'
              show: caller
              rule_set_id: ''
              addr_req: none
              addr_proof: 'no'
              access_restrictions: mobile
              restrictions_desc: 'If you are on Premium, City and Mobile numbers can be subscribed for free.<br>If you want a free number, select a City number and use our free chat function at your website.'
              cli_support: 'no'
              package: regular
              call_recording_allowed: 'yes'
              voiceapp_connect: 'yes'
              csg_connect: 'yes'
            - account_id: '2000000007'
              country_code: '1'
              area_code: '646'
              country: USA
              is_part_of_series: 'no'
              range: '1'
              city: New York City Zone 01 (646)
              type: geographic
              one_time_fee: '0.0'
              recurring_fee: '38.0'
              recurrence_interval: 1m
              per_call_fee: '0.00'
              per_min_fee: '0.00'
              charge_interval: '60'
              per_sms_fee: '0.0'
              per_fax_fee: ''
              currency: SEK
              price_category: regular
              connect_to_type: user
              connect_to: '2000337379'
              activation_date: '20160121T07:55:33Z'
              next_fee_date: '20221121T07:55:33Z'
              reclaim_date: '20221221T07:55:33Z'
              status: active
              status_desc: ''
              freetest: 'no'
              branded: 'no'
              freeplan: 'no'
              fax_enabled: 'no'
              sms_enabled: 'yes'
              fax_supported: 'no'
              sms_supported: 'no'
              phnum: '16468510520'
              free_test_expiry_date: ''
              sms_settings:
                delivery_methods:
                  - dest_type: auto
              plan_details:
                current_renew_mode: 3y
                next_renew_mode: 3y
                activation_date: '20160121T07:55:33Z'
                next_fee_date: '20221121T07:55:33Z'
                deactivate_date: '20221221T07:55:33Z'
                next_recurring_fee: '928.00'
              show: caller
              rule_set_id: ''
              state: New York
              addr_req: none
              addr_proof: 'no'
              access_restrictions: international
              restrictions_desc: 'If you are on Premium, all types of numbers can be subscribed for free.<br>If you want a free number, select a City number and use our free chat function at your website.'
              cli_support: 'no'
              package: regular
              call_recording_allowed: 'yes'
              voiceapp_connect: 'yes'
              csg_connect: 'yes'
            - account_id: '2000000007'
              country_code: '1'
              area_code: '646'
              country: USA
              is_part_of_series: 'no'
              range: '1'
              city: New York City Zone 01 (646)
              type: geographic
              one_time_fee: '0.0'
              recurring_fee: '38.0'
              recurrence_interval: 1m
              per_call_fee: '0.00'
              per_min_fee: '0.00'
              charge_interval: '60'
              per_sms_fee: '0.0'
              per_fax_fee: ''
              currency: SEK
              price_category: regular
              connect_to_type: user
              connect_to: '2014932008'
              activation_date: '20160120T08:12:52Z'
              next_fee_date: '20221120T08:12:52Z'
              reclaim_date: '20221220T08:12:52Z'
              status: active
              status_desc: ''
              freetest: 'no'
              branded: 'no'
              freeplan: 'no'
              fax_enabled: 'no'
              sms_enabled: 'yes'
              fax_supported: 'no'
              sms_supported: 'no'
              phnum: '16465862930'
              free_test_expiry_date: ''
              sms_settings:
                delivery_methods:
                  - dest_type: auto
              plan_details:
                current_renew_mode: 3y
                next_renew_mode: 3y
                activation_date: '20160120T08:12:52Z'
                next_fee_date: '20221120T08:12:52Z'
                deactivate_date: '20221220T08:12:52Z'
                next_recurring_fee: '928.00'
              show: caller
              rule_set_id: ''
              state: New York
              addr_req: none
              addr_proof: 'no'
              access_restrictions: international
              restrictions_desc: 'If you are on Premium, all types of numbers can be subscribed for free.<br>If you want a free number, select a City number and use our free chat function at your website.'
              cli_support: 'no'
              package: regular
              call_recording_allowed: 'yes'
              voiceapp_connect: 'yes'
              csg_connect: 'yes'
            - account_id: '2000000007'
              country_code: '1'
              area_code: '646'
              country: USA
              is_part_of_series: 'no'
              range: '1'
              city: New York City Zone 01 (646)
              type: geographic
              one_time_fee: '0.0'
              recurring_fee: '38.0'
              recurrence_interval: 1m
              per_call_fee: '0.00'
              per_min_fee: '0.00'
              charge_interval: '60'
              per_sms_fee: '0.0'
              per_fax_fee: ''
              currency: SEK
              price_category: regular
              connect_to_type: user
              connect_to: '2000568191'
              activation_date: '20151207T11:09:18Z'
              next_fee_date: '20220507T11:09:18Z'
              reclaim_date: '20220606T11:09:18Z'
              status: active
              status_desc: ''
              freetest: 'no'
              branded: 'no'
              freeplan: 'no'
              fax_enabled: 'no'
              sms_enabled: 'yes'
              fax_supported: 'no'
              sms_supported: 'no'
              phnum: '16466876733'
              free_test_expiry_date: ''
              sms_settings:
                delivery_methods:
                  - dest_type: auto
              plan_details:
                current_renew_mode: 1y
                next_renew_mode: 1y
                activation_date: '20151207T11:09:18Z'
                next_fee_date: '20220507T11:09:18Z'
                deactivate_date: '20220606T11:09:18Z'
                next_recurring_fee: '411.00'
              show: caller
              rule_set_id: ''
              state: New York
              addr_req: none
              addr_proof: 'no'
              access_restrictions: international
              restrictions_desc: 'If you are on Premium, all types of numbers can be subscribed for free.<br>If you want a free number, select a City number and use our free chat function at your website.'
              cli_support: 'no'
              package: regular
              call_recording_allowed: 'yes'
              voiceapp_connect: 'yes'
              csg_connect: 'yes'
            - account_id: '2000000007'
              country_code: '60'
              area_code: '3'
              country: MYS
              is_part_of_series: 'no'
              range: '1'
              city: Kuala Lumpur (3)
              type: geographic
              one_time_fee: '0.0'
              recurring_fee: '139.0'
              recurrence_interval: 1m
              per_call_fee: '0.00'
              per_min_fee: '0.00'
              charge_interval: '60'
              per_sms_fee: ''
              per_fax_fee: ''
              currency: SEK
              price_category: regular
              connect_to_type: app
              connect_to:
                app_type: ivr
                app_id: VAi6345m4oioic
              activation_date: '20151119T06:54:15Z'
              next_fee_date: '20210719T06:54:15Z'
              reclaim_date: '20210818T06:54:15Z'
              status: active
              status_desc: ''
              freetest: 'no'
              branded: 'no'
              freeplan: 'no'
              fax_enabled: 'no'
              sms_enabled: 'no'
              fax_supported: 'no'
              sms_supported: 'no'
              phnum: '60392121510'
              free_test_expiry_date: ''
              plan_details:
                current_renew_mode: 1m
                next_renew_mode: 1m
                activation_date: '20151119T06:54:15Z'
                next_fee_date: '20210719T06:54:15Z'
                deactivate_date: '20210818T06:54:15Z'
                next_recurring_fee: '139.00'
              show: caller
              rule_set_id: ''
              addr_req: global
              addr_proof: 'yes'
              access_restrictions: ''
              restrictions_desc: Toll-free numbers are recommended for customers without a local address.<br>City numbers require a local address for activation.<br>Supporting documents are required to activate phone numbers or they will be disconnected.<br>A detailed description of how the number will be used should be provided.<br>Phone numbers are not available for free with Premium and cannot be used for free on your website.
              cli_support: 'no'
              business_pkg_support: 'no'
              package: regular
              call_recording_allowed: 'yes'
              voiceapp_connect: 'yes'
              csg_connect: 'yes'
            - account_id: '2000000007'
              country_code: '358'
              area_code: '75'
              country: FIN
              is_part_of_series: 'no'
              range: '1'
              city: National (75)
              type: national
              one_time_fee: '0.0'
              recurring_fee: '76.0'
              recurrence_interval: 1m
              per_call_fee: '0.00'
              per_min_fee: '0.00'
              charge_interval: '60'
              per_sms_fee: ''
              per_fax_fee: ''
              currency: SEK
              price_category: regular
              connect_to_type: app
              connect_to:
                app_type: ivr
                app_id: VAi6345m4oioic
              activation_date: '20150924T12:24:48Z'
              next_fee_date: '20210624T12:24:48Z'
              reclaim_date: '20210724T12:24:48Z'
              status: active
              status_desc: ''
              freetest: 'no'
              branded: 'no'
              freeplan: 'no'
              fax_enabled: 'no'
              sms_enabled: 'no'
              fax_supported: 'no'
              sms_supported: 'yes'
              phnum: '358753264040'
              free_test_expiry_date: ''
              plan_details:
                current_renew_mode: 1m
                next_renew_mode: 1m
                activation_date: '20150924T12:24:48Z'
                next_fee_date: '20210624T12:24:48Z'
                deactivate_date: '20210724T12:24:48Z'
                next_recurring_fee: '76.00'
              show: caller
              rule_set_id: ''
              addr_req: none
              addr_proof: 'yes'
              access_restrictions: ''
              restrictions_desc: 'If you are on Premium, City, National and Mobile numbers can be subscribed for free.'
              cli_support: 'no'
              business_pkg_support: 'no'
              package: regular
              call_recording_allowed: 'yes'
              voiceapp_connect: 'yes'
              csg_connect: 'yes'
            - account_id: '2000000007'
              country_code: '32'
              area_code: '78'
              country: BEL
              is_part_of_series: 'no'
              range: '1'
              city: National (78)
              type: national
              one_time_fee: '0.0'
              recurring_fee: '45.0'
              recurrence_interval: 1m
              per_call_fee: '0.00'
              per_min_fee: '0.00'
              charge_interval: '60'
              per_sms_fee: ''
              per_fax_fee: ''
              currency: SEK
              price_category: gold+
              connect_to_type: app
              connect_to:
                app_type: ivr
                app_id: VAi6345m4oioix
              activation_date: '20150924T11:48:50Z'
              next_fee_date: '20210624T11:48:50Z'
              reclaim_date: '20210724T11:48:50Z'
              status: active
              status_desc: ''
              freetest: 'no'
              branded: 'no'
              freeplan: 'no'
              fax_enabled: 'no'
              sms_enabled: 'no'
              fax_supported: 'no'
              sms_supported: 'no'
              phnum: '3278484500'
              free_test_expiry_date: ''
              plan_details:
                current_renew_mode: 1m
                next_renew_mode: 1m
                activation_date: '20150924T11:48:50Z'
                next_fee_date: '20210624T11:48:50Z'
                deactivate_date: '20210724T11:48:50Z'
                next_recurring_fee: '45.00'
              show: caller
              addr_req: local
              addr_proof: 'no'
              access_restrictions: ''
              restrictions_desc: 'Toll-free numbers are recommended for customers outside Belgium.<br>City numbers are only for those that live or work at an address in the area of the phone number.<br>National numbers require that you provide an address anywhere in Belgium.<br>If you are on Premium, City and National numbers can be subscribed for free.<br>If you want a free number, select a City or National number and use our free chat function at your website.'
              cli_support: 'no'
              package: regular
              call_recording_allowed: 'yes'
              voiceapp_connect: 'yes'
              csg_connect: 'yes'
            - account_id: '2000000007'
              country_code: '213'
              area_code: '983'
              country: DZA
              is_part_of_series: 'no'
              range: '1'
              city: National VOIP (983)
              type: national
              one_time_fee: '0.0'
              recurring_fee: '90.0'
              recurrence_interval: 1m
              per_call_fee: '0.00'
              per_min_fee: '0.00'
              charge_interval: '60'
              per_sms_fee: ''
              per_fax_fee: ''
              currency: SEK
              price_category: gold
              connect_to_type: app
              connect_to:
                app_type: mailbox
                app_id: VAi6345m4o9oi
              activation_date: '20150924T11:42:28Z'
              next_fee_date: '20210624T11:42:28Z'
              reclaim_date: '20210724T11:42:28Z'
              status: active
              status_desc: ''
              freetest: 'no'
              branded: 'no'
              freeplan: 'no'
              fax_enabled: 'no'
              sms_enabled: 'no'
              fax_supported: 'no'
              sms_supported: 'no'
              phnum: '213983200522'
              free_test_expiry_date: ''
              plan_details:
                current_renew_mode: 1m
                next_renew_mode: 1m
                activation_date: '20150924T11:42:28Z'
                next_fee_date: '20210624T11:42:28Z'
                deactivate_date: '20210724T11:42:28Z'
                next_recurring_fee: '90.00'
              show: caller
              rule_set_id: 5c9b3c54076f31684a28df9e
              addr_req: none
              addr_proof: 'no'
              access_restrictions: ''
              restrictions_desc: ''
              cli_support: 'yes'
              package: regular
              call_recording_allowed: 'yes'
              voiceapp_connect: 'yes'
              csg_connect: 'yes'
            - account_id: '2000000007'
              country_code: '27'
              area_code: '87'
              country: ZAF
              is_part_of_series: 'no'
              range: '1'
              city: National (87)
              type: national
              one_time_fee: '0.0'
              recurring_fee: '92.0'
              recurrence_interval: 1m
              per_call_fee: '0.00'
              per_min_fee: '0.00'
              charge_interval: '60'
              per_sms_fee: ''
              per_fax_fee: ''
              currency: SEK
              price_category: regular
              connect_to_type: app
              connect_to:
                app_type: ivr
                app_id: VAi6345m4oioic
              activation_date: '20150909T11:15:25Z'
              next_fee_date: '20221209T11:15:25Z'
              reclaim_date: '20230108T11:15:25Z'
              status: active
              status_desc: ''
              freetest: 'no'
              branded: 'no'
              freeplan: 'no'
              fax_enabled: 'no'
              sms_enabled: 'no'
              fax_supported: 'no'
              sms_supported: 'no'
              phnum: '27875502200'
              free_test_expiry_date: ''
              plan_details:
                current_renew_mode: 3y
                next_renew_mode: 3y
                activation_date: '20150909T11:15:25Z'
                next_fee_date: '20221209T11:15:25Z'
                deactivate_date: '20230108T11:15:25Z'
                next_recurring_fee: '2364.00'
              show: caller
              addr_req: global
              addr_proof: 'yes'
              access_restrictions: ''
              restrictions_desc: 'National numbers are recommended for customers outside South Africa.<br>City numbers are only for those that live or work at an address in the area of the number.<br>You will be requested to provide your address and supporting documents before the number is activated.<br>If you are on Premium, City and National numbers can be subscribed for free.<br>Free-for-website numbers are not available in South Africa.'
              cli_support: 'no'
              business_pkg_support: 'no'
              package: regular
              call_recording_allowed: 'yes'
              voiceapp_connect: 'yes'
              csg_connect: 'yes'
            - account_id: '2000000007'
              country_code: '46'
              area_code: '8'
              country: SWE
              is_part_of_series: 'no'
              range: '1'
              city: Stockholm (8)
              type: geographic
              one_time_fee: '0.0'
              recurring_fee: '65.0'
              recurrence_interval: 1m
              per_call_fee: '0.00'
              per_min_fee: '0.00'
              charge_interval: '60'
              per_sms_fee: ''
              per_fax_fee: ''
              currency: SEK
              price_category: regular
              connect_to_type: app
              connect_to:
                app_type: ivr
                app_id: VAi6345m4oioix
              activation_date: '20150812T07:05:36Z'
              next_fee_date: '20221212T07:05:36Z'
              reclaim_date: '20221212T07:05:36Z'
              status: active
              status_desc: ''
              freetest: 'no'
              branded: 'no'
              freeplan: 'no'
              fax_enabled: 'no'
              sms_enabled: 'yes'
              fax_supported: 'no'
              sms_supported: 'yes'
              phnum: '46852500901'
              free_test_expiry_date: ''
              sms_settings:
                delivery_methods:
                  - dest_type: auto
              plan_details:
                current_renew_mode: 3y
                next_renew_mode: '0'
                activation_date: '20150812T07:05:36Z'
                next_fee_date: '20221212T07:05:36Z'
                deactivate_date: '20221212T07:05:36Z'
                next_recurring_fee: '0.00'
              show: caller
              addr_req: none
              addr_proof: 'no'
              access_restrictions: mobile
              restrictions_desc: 'If you are on Premium, City and Mobile numbers can be subscribed for free.<br>If you want a free number, select a City number and use our free chat function at your website.'
              cli_support: 'no'
              package: regular
              call_recording_allowed: 'yes'
              voiceapp_connect: 'yes'
              csg_connect: 'yes'
            - account_id: '2000000007'
              country_code: '1'
              area_code: '646'
              country: USA
              is_part_of_series: 'no'
              range: '1'
              city: New York City Zone 01 (646)
              type: geographic
              one_time_fee: '0.0'
              recurring_fee: '38.0'
              recurrence_interval: 1m
              per_call_fee: '0.00'
              per_min_fee: '0.00'
              charge_interval: '60'
              per_sms_fee: '0.0'
              per_fax_fee: ''
              currency: SEK
              price_category: regular
              connect_to_type: app
              connect_to:
                app_type: ivr
                app_id: VAi6345m4oioix
              activation_date: '20150806T09:40:01Z'
              next_fee_date: '20221206T09:40:01Z'
              reclaim_date: '20230105T09:40:01Z'
              status: active
              status_desc: ''
              freetest: 'no'
              branded: 'no'
              freeplan: 'no'
              fax_enabled: 'no'
              sms_enabled: 'yes'
              fax_supported: 'no'
              sms_supported: 'no'
              phnum: '16467818882'
              free_test_expiry_date: ''
              sms_settings:
                delivery_methods:
                  - dest_type: email
                    dest_id: abc@xyz.com
              plan_details:
                current_renew_mode: 3y
                next_renew_mode: 3y
                activation_date: '20150806T09:40:01Z'
                next_fee_date: '20221206T09:40:01Z'
                deactivate_date: '20230105T09:40:01Z'
                next_recurring_fee: '928.00'
              show: caller
              state: New York
              addr_req: none
              addr_proof: 'no'
              access_restrictions: international
              restrictions_desc: 'If you are on Premium, all types of numbers can be subscribed for free.<br>If you want a free number, select a City number and use our free chat function at your website.'
              cli_support: 'no'
              package: regular
              call_recording_allowed: 'yes'
              voiceapp_connect: 'yes'
              csg_connect: 'yes'
            - account_id: '2000000007'
              country_code: '1'
              area_code: '646'
              country: USA
              is_part_of_series: 'no'
              range: '1'
              city: New York City Zone 01 (646)
              type: geographic
              one_time_fee: '0.0'
              recurring_fee: '38.0'
              recurrence_interval: 1m
              per_call_fee: '0.00'
              per_min_fee: '0.00'
              charge_interval: '60'
              per_sms_fee: '0.0'
              per_fax_fee: ''
              currency: SEK
              price_category: regular
              connect_to_type: app
              connect_to:
                app_type: ivr
                app_id: VAi6345m4oioic
              activation_date: '20150604T16:44:45Z'
              next_fee_date: '20221204T16:44:45Z'
              reclaim_date: '20230103T16:44:45Z'
              status: active
              status_desc: ''
              freetest: 'no'
              branded: 'no'
              freeplan: 'no'
              fax_enabled: 'no'
              sms_enabled: 'yes'
              fax_supported: 'no'
              sms_supported: 'no'
              phnum: '16465685480'
              free_test_expiry_date: ''
              sms_settings:
                delivery_methods:
                  - dest_type: auto
              plan_details:
                current_renew_mode: 3y
                next_renew_mode: 3y
                activation_date: '20150604T16:44:45Z'
                next_fee_date: '20221204T16:44:45Z'
                deactivate_date: '20230103T16:44:45Z'
                next_recurring_fee: '928.00'
              show: caller
              state: New York
              addr_req: none
              addr_proof: 'no'
              access_restrictions: international
              restrictions_desc: 'If you are on Premium, all types of numbers can be subscribed for free.<br>If you want a free number, select a City number and use our free chat function at your website.'
              cli_support: 'no'
              business_pkg_support: 'no'
              package: regular
              call_recording_allowed: 'yes'
              voiceapp_connect: 'yes'
              csg_connect: 'yes'
            - account_id: '2000000007'
              country_code: '1'
              area_code: '646'
              country: USA
              is_part_of_series: 'no'
              range: '1'
              city: New York City Zone 01 (646)
              type: geographic
              one_time_fee: '0.0'
              recurring_fee: '38.0'
              recurrence_interval: 1m
              per_call_fee: '0.00'
              per_min_fee: '0.00'
              charge_interval: '60'
              per_sms_fee: '0.0'
              per_fax_fee: ''
              currency: SEK
              price_category: regular
              connect_to_type: app
              connect_to:
                app_type: ivr
                app_id: VAi6345m4oioiz
              activation_date: '20150604T16:44:45Z'
              next_fee_date: '20221204T16:44:45Z'
              reclaim_date: '20230103T16:44:45Z'
              status: active
              status_desc: ''
              freetest: 'no'
              branded: 'no'
              freeplan: 'no'
              fax_enabled: 'no'
              sms_enabled: 'yes'
              fax_supported: 'no'
              sms_supported: 'no'
              phnum: '16465685481'
              free_test_expiry_date: ''
              sms_settings:
                delivery_methods:
                  - dest_type: auto
              plan_details:
                current_renew_mode: 3y
                next_renew_mode: 3y
                activation_date: '20150604T16:44:45Z'
                next_fee_date: '20221204T16:44:45Z'
                deactivate_date: '20230103T16:44:45Z'
                next_recurring_fee: '928.00'
              show: caller
              rule_set_id: ''
              state: New York
              addr_req: none
              addr_proof: 'no'
              access_restrictions: international
              restrictions_desc: 'If you are on Premium, all types of numbers can be subscribed for free.<br>If you want a free number, select a City number and use our free chat function at your website.'
              cli_support: 'no'
              business_pkg_support: 'no'
              package: regular
              call_recording_allowed: 'yes'
              voiceapp_connect: 'yes'
              csg_connect: 'yes'
            - account_id: '2000000007'
              country_code: '1'
              area_code: '646'
              country: USA
              is_part_of_series: 'no'
              range: '1'
              city: New York City Zone 01 (646)
              type: geographic
              one_time_fee: '0.0'
              recurring_fee: '38.0'
              recurrence_interval: 1m
              per_call_fee: '0.00'
              per_min_fee: '0.00'
              charge_interval: '60'
              per_sms_fee: '0.0'
              per_fax_fee: ''
              currency: SEK
              price_category: regular
              connect_to_type: app
              connect_to:
                app_type: ivr
                app_id: VAi6345m4oioiz
              activation_date: '20150604T16:44:45Z'
              next_fee_date: '20221204T16:44:45Z'
              reclaim_date: '20230103T16:44:45Z'
              status: active
              status_desc: ''
              freetest: 'no'
              branded: 'no'
              freeplan: 'no'
              fax_enabled: 'no'
              sms_enabled: 'yes'
              fax_supported: 'no'
              sms_supported: 'no'
              phnum: '16465685482'
              free_test_expiry_date: ''
              sms_settings:
                delivery_methods:
                  - dest_type: auto
              plan_details:
                current_renew_mode: 3y
                next_renew_mode: 3y
                activation_date: '20150604T16:44:45Z'
                next_fee_date: '20221204T16:44:45Z'
                deactivate_date: '20230103T16:44:45Z'
                next_recurring_fee: '928.00'
              show: caller
              rule_set_id: ''
              state: New York
              addr_req: none
              addr_proof: 'no'
              access_restrictions: international
              restrictions_desc: 'If you are on Premium, all types of numbers can be subscribed for free.<br>If you want a free number, select a City number and use our free chat function at your website.'
              cli_support: 'no'
              business_pkg_support: 'no'
              package: regular
              call_recording_allowed: 'yes'
              voiceapp_connect: 'yes'
              csg_connect: 'yes'
            - account_id: '2000000007'
              country_code: '1'
              area_code: '646'
              country: USA
              is_part_of_series: 'no'
              range: '1'
              city: New York City Zone 01 (646)
              type: geographic
              one_time_fee: '0.0'
              recurring_fee: '38.0'
              recurrence_interval: 1m
              per_call_fee: '0.00'
              per_min_fee: '0.00'
              charge_interval: '60'
              per_sms_fee: '0.0'
              per_fax_fee: ''
              currency: SEK
              price_category: regular
              connect_to_type: app
              connect_to:
                app_type: ivr
                app_id: VAi6345m4oioiz
              activation_date: '20150604T16:44:45Z'
              next_fee_date: '20221204T16:44:45Z'
              reclaim_date: '20230103T16:44:45Z'
              status: active
              status_desc: ''
              freetest: 'no'
              branded: 'no'
              freeplan: 'no'
              fax_enabled: 'no'
              sms_enabled: 'yes'
              fax_supported: 'no'
              sms_supported: 'no'
              phnum: '16465685483'
              free_test_expiry_date: ''
              sms_settings:
                delivery_methods:
                  - dest_type: auto
              plan_details:
                current_renew_mode: 3y
                next_renew_mode: 3y
                activation_date: '20150604T16:44:45Z'
                next_fee_date: '20221204T16:44:45Z'
                deactivate_date: '20230103T16:44:45Z'
                next_recurring_fee: '928.00'
              show: caller
              rule_set_id: ''
              state: New York
              addr_req: none
              addr_proof: 'no'
              access_restrictions: international
              restrictions_desc: 'If you are on Premium, all types of numbers can be subscribed for free.<br>If you want a free number, select a City number and use our free chat function at your website.'
              cli_support: 'no'
              business_pkg_support: 'no'
              package: regular
              call_recording_allowed: 'yes'
              voiceapp_connect: 'yes'
              csg_connect: 'yes'
            - account_id: '2000000007'
              country_code: '1'
              area_code: '646'
              country: USA
              is_part_of_series: 'no'
              range: '1'
              city: New York City Zone 01 (646)
              type: geographic
              one_time_fee: '0.0'
              recurring_fee: '38.0'
              recurrence_interval: 1m
              per_call_fee: '0.00'
              per_min_fee: '0.00'
              charge_interval: '60'
              per_sms_fee: '0.0'
              per_fax_fee: ''
              currency: SEK
              price_category: regular
              connect_to_type: app
              connect_to:
                app_type: ivr
                app_id: VAi6345m4oioiz
              activation_date: '20150604T16:44:45Z'
              next_fee_date: '20221204T16:44:45Z'
              reclaim_date: '20230103T16:44:45Z'
              status: active
              status_desc: ''
              freetest: 'no'
              branded: 'no'
              freeplan: 'no'
              fax_enabled: 'no'
              sms_enabled: 'yes'
              fax_supported: 'no'
              sms_supported: 'no'
              phnum: '16465685484'
              free_test_expiry_date: ''
              sms_settings:
                delivery_methods:
[...]
