openapi: 3.1.0
info:
  title: Recorded calls
  version: '1.0'
  summary: The API allows the user to download list of recorded calls and the files
  description: |-
    Calls or conferences handled using your Sonetel account can be recorded using the call recording function. The recorded calls are stored in Sonetel and can be managed via the Call recording API.

    <!-- theme: warning -->
    > Before you can use the Call recording API, you must:
    > 
    > 1. [verify your identity](https://app.sonetel.com/account-settings/account-verification).
    > 2. enable the [call recording function](https://app.sonetel.com/account-settings/call-recording/settings) from your account.


    Call recordings are either linked to a user or an account. For example, if a user makes an outgoing call that is recorded then the recording will be linked to this user with their `used_id`. On the other hand, if a phone number in your account is connected to a SIP address, then the incoming calls that are recorded are linked to the account and not to any user.

    A recording object can also contain the details for accessing the recording file as well as the details of the call that was recorded. See the sections 'Download a recording' and 'Get call details' below for more details.

    Access to the `/call-recording` API is limited to users with admin privileges.

    <!-- theme: info -->
    >Please note that it is your responsibility to ensure that call recording only is done when it is permitted by local law and by [Sonetel's terms and conditions](https://sonetel.com/en/help/help-topics/terms-conditions/terms-conditions/).


    ## Start recording calls

    Once you have verified your account and enabled call recording, you can choose which type of calls should be recorded from the [call recording settings](https://app.sonetel.com/account-settings/call-recording/settings).

    You can select from one of the following options:

    - **Record all**: Records all calls (excluding on-net calls between team members).
    - **Let me select**: This lets you record certain type of calls.
      1. **Record all outbound calls**: Record all the outgoing calls originating from your Sonetel account.
      2. **Record all inbound calls**: Only record the incoming calls.
      3. **Allowed**: Lets you record calls per phone number or user.
     

    ## Filter results

    If you have a lot of call recordings and want to list only a few, you can apply filters based on the date range, the user that is involved in the call and so on.

    Add the required filters as query parameters. For example, to limit the results to recordings created between 1st Jan 2021 and 3rd Feb 2021, use the following URI.

    ```
    https://beta-api.sonetel.com/call-recording?account_id=YOUR_SONETEL_ACCOUNT_ID&created_date_min=20210203T23:59:59Z&created_date_max=20210101T00:00:00Z
    ```

    ## Download a recording

    In order to download the audio file containint the call recording, add the `fields=file_access_details` query parameter to the API request.

    Example: `https://beta-api.sonetel.com/call-recording/6y25Gth432?fields=file_access_details`

    > In the above example, `6y25Gth432` is the unique `call_recording_id` of the recording you wish to download. Get a list of all recordings by issuing a GET request to `/call-recording?account_id=YOUR_SONETEL_ACCOUNT_ID`.

    A successful response will return the following response. Use the URL provided in the `file_access_details` object to download the file.

    ```json
    {
        "resource": "call_recording",
        "status": "success",
        "response": {
            "call_recording_id": "6y25Gth432",
            "type": "voice_call",
            "account_id": 200000000,
            "user_id": "",
            "created_date": "20210719T07:00:12Z",
            "file": {
                "type": "mp3",
                "size": 102400,
                "file_id": "UNIQUE_FILE_ID_STRING",
                "file_access_details": {
                    "url": "UNIQUE_FILE_DOWNLOAD_URL",
                    "issued_at": "20210719T08:14:20Z",
                    "expires_at": "20210726T08:14:20Z"
                }
            }
        }
    }
    ```


    ## Get call details

    In order to get the details of the call along with the call recording, add the `fields=voice_call_details` query parameter to the API request.

    Example: `https://beta-api.sonetel.com/call-recording/6y25Gth432?fields=voice_call_details`

    A successful response will return the following response.

    ```json
    {
        "resource": "call_recording",
        "status": "success",
        "response": {
            "call_recording_id": "REd0ae0toi0000m0",
            "call_id": "abCdEFgHIjKLmnopqRsTUvW.",
            "type": "voice_call",
            "account_id": 20000000,
            "user_id": "",
            "created_date": "20210609T10:26:22Z",
            "voice_call_details": {
                "from": "12125550000",
                "to": "2000000030",
                "codec": "PCMU",
                "usage_record_id": 200000000,
                "start_time": "",
                "end_time": "20210609T10:26:34Z",
                "call_length": 8,
                "from_type": "phonenumber",
                "from_name": "12125550000",
                "caller_id": "12125550000",
                "to_type": "user",
                "to_name": "Ken Adams",
                "to_orig": "12125550000@251.270.74.303"
            },
            "is_transcribed": false
        }
    }
    ```

    ## Free storage limit

    All accounts get a certain amount of free storage for storing call recordings, files shared in chat, etc. Excess storage costs $1 per month and GB.

    The following table describes these limits under different conditions.

    |Account type|Free storage|
    |-----------|------------|
    |Free|2 GB per account|
    |Premium|100 GB per user|
    |Enterprise|100 GB per user|
    |Enterprise 24/7|100 GB per user|

    ## Are there any limitations?

    Incoming calls can only be recorded on phone numbers with the [business package](https://sonetel.com/en/help/help-topics/telephony/business-package-for-phone-numbers/) or ones that are free with [website](https://sonetel.com/en/help/help-topics/telephony/free-phone-number/) or [Premium](https://sonetel.com/en/help/help-topics/telephony/phone-numbers-free-with-premium/).

    Additionally, the call recording service has some [fair usage limitations](https://sonetel.com/en/help/help-topics/telephony/free-call-recording/).
servers:
  - url: 'https://beta-api.sonetel.com'
    description: Production
  - url: 'https://chat-api.sonetel.com'
    description: Staging
paths:
  '/call-recording/{recording-id}':
    parameters:
      - schema:
          type: string
        name: recording-id
        in: path
        required: true
        description: The `call_recording_id` of the recording you wish to manage.
    get:
      summary: Get call recording by ID
      tags: []
      responses:
        '200':
          description: Call Recording Detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call-recording'
              examples: {}
        '401':
          description: Unauthorized
        '404':
          description: Recording Not Found
      operationId: get-recording-recordingId
      description: |-
        # Get call recording by ID

        To retrieve a specific call recording, you can issue a GET request to the resource with the `call_recording_id` as a path parameter.

        Example: `GET https://api.sonetel.com/call-recording/6y25Gth432`

        ### Successful response 

        Here is a sample of how a successful response looks like.

        ```json
        {
                "call_recording_id": "6y25Gth432",
                "type": "voice_call",
                "account_id": 200000000,
                "user_id": "",
                "created_date": "20210719T07:00:12Z"
            }
        ```

        ### Get the userid and accountid fields

        Instructions on how to find your account ID can be found in our [FAQ section](../docs/Getting Started/7-FAQs.md).

        The userid for all your users can be fetched by issuing a GET request to [/account/{accountid}/user](Users.yaml/paths/~1account~1{accountid}~1user/get).

        ### Additional fields

        To include additional information in the response, add the query parameter `fields` with one or more values listed below.

        Example: `https://beta-api.sonetel.com/call-recording/6y25Gth432?fields=file,voice_call_details`
      parameters:
        - schema:
            type: string
            enum:
              - file_access_details
              - voice_call_details
              - file
          in: query
          name: fields
          description: Include additional fields in the response.
        - schema:
            type: string
          in: header
          name: Authorization
          description: Bearer <ACCESS_TOKEN>
          required: true
    delete:
      summary: Delete a call recording by ID
      operationId: delete-call-recording-recording-id
      responses:
        '200':
          description: Recording Successfully Deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call-recording'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      description: |-
        # Delete a call recording by ID

        Use this endpoint to delete a call recording that is no longer needed.

        To delete a recording issue a DELETE request to the `/call-recording` endpoint adding the recording ID in the path. For example, if the recording ID that should be deleted is `a12B34DE567` then the request would be:

        ```c
        curl \
          --location \
          --request DELETE 'https://api.sonetel.com/call-recording/a12B34DE567' \
          --header 'Authorization: Bearer ACCESS_TOKEN'
        ```

        <!-- theme: warning -->

        > Once deleted, it may not be possible to recover call recordings.
      parameters:
        - schema:
            type: string
          in: header
          name: Authorization
          description: Bearer <ACCESS_TOKEN>
          required: true
  /call-recording:
    parameters: []
    get:
      summary: Retrieve call recordings
      operationId: get-call-recording
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call-recording-list'
              examples: {}
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      description: |-
        # Retrieve call recordings

        Allows you to list all the call recordings in your account.

        By adding one or more of the query parametrers listed below, you can also search for the recordings.

        For example, to search for recordings linked to a specific user you can search using their user ID like `/call-recording?account_id=YOUR_ACCOUNT_ID&user_id=UNIQUE_USER_ID`

        > Please remember to add the `?account_id=YOUR_SONETEL_ACCOUNT_ID` query parameter to the URL

        To know how to find your account ID, please have a look [here](../account.yaml).
      parameters:
        - schema:
            type: string
          in: query
          name: account_id
          description: Your Sonetel account ID
          required: true
        - schema:
            type: string
          in: query
          name: user_id
          description: The user ID for which recordings are needed
        - schema:
            type: string
            example: '20210529T00:00:00Z'
            format: date-time
          in: query
          name: created_date_min
          description: 'Limit the results to recordings created after this timestamp. For example, if you want recordings created after 6:00 PM UTC 18th Jan 2021, then use `created_date_min=20210118T18:00:00Z`'
        - schema:
            type: string
            example: '20210529T00:00:00Z'
            format: date-time
          in: query
          name: created_date_max
          description: 'Limit the results to recordings created before this timestamp.  For example, if you only want recordings created after 3:45 PM UTC 19th Jan 2021, then use `created_date_max=20210119T15:45:00Z`'
        - schema:
            type: string
            enum:
              - voice_call
          in: query
          name: type
          description: 'Limit the results based on the type of recording i.e. voice_call, video_call, and so on. At the moment only `voice_call` is supported.'
        - schema:
            type: string
            enum:
              - file_access_details
              - voice_call_details
              - file
          in: query
          name: fields
          description: Include additional fields in the response.
        - schema:
            type: string
          in: header
          name: Authorization
          description: Bearer <ACCESS_TOKEN>
          required: true
components:
  schemas:
    Call-recording:
      description: ''
      type: object
      x-examples:
        example-1:
          resource: call_recording
          status: success
          response:
            call_recording_id: REd11kuioi1111m1
            type: voice_call
            account_id: 2000000007
            user_id: ''
            created_date: '20210124T18:41:33Z'
            file:
              type: mp3
              size: 21240
              file_id: AbCdE1FGg2345678901234
              file_access_details:
                url: 'https:/example.amazonaws.com/sonetel-call-records.test/2021-01-24/AbCdE1FGg2345678901234.mp3?AUTH_HEADERS'
                issued_at: '20210714T09:13:45Z'
                expires_at: '20210721T09:13:45Z'
            voice_call_details:
              from: '2000000004'
              to: '2000000007'
              codec: PCMU
              usage_record_id: 200000000
              start_time: ''
              end_time: '20210124T18:41:47Z'
              call_length: 21
              from_type: user
              from_name: John Doe
              caller_id: '14045551234'
              to_type: user
              to_name: Ken Adams
              to_orig: 0061290000000@sonetel.com
      properties:
        resource:
          type: string
          minLength: 1
          description: The name of the resource this response is from.
        status:
          type: string
          minLength: 1
          description: The status of the response i.e. success or failed.
        response:
          type: object
          required:
            - call_recording_id
            - type
            - account_id
            - user_id
            - created_date
            - file
            - voice_call_details
          description: Response object with the details of the call recordings
          properties:
            call_recording_id:
              type: string
              minLength: 1
              description: Unique ID assigned to identify each call recording.
            type:
              type: string
              minLength: 1
              description: The type of call recording. Only `voice_call` supported at the moment.
            account_id:
              type: number
              description: Your Sonetel account ID
            user_id:
              type: string
              description: 'If the call recording is assigned to a user, this property lists the user_id.'
            created_date:
              type: string
              minLength: 1
              description: The timestamp when the call recording was created.
            file:
              type: object
              required:
                - type
                - size
                - file_id
                - file_access_details
              description: 'Details of the call recording file object such as the size, download URL and so on.'
              properties:
                type:
                  type: string
                  minLength: 1
                  description: 'File type such as mp3, etc.'
                size:
                  type: number
                  description: File size in bytes.
                file_id:
                  type: string
                  minLength: 1
                  description: 'Unique file ID. '
                file_access_details:
                  type: object
                  required:
                    - url
                    - issued_at
                    - expires_at
                  properties:
                    url:
                      type: string
                      minLength: 1
                      description: Link to download the file.
                    issued_at:
                      type: string
                      minLength: 1
                      description: Timestamp when the link was created.
                    expires_at:
                      type: string
                      minLength: 1
                      description: Timestamp when the download link will expire.
            voice_call_details:
              type: object
              required:
                - from
                - to
                - codec
                - usage_record_id
                - start_time
                - end_time
                - call_length
                - from_type
                - from_name
                - caller_id
                - to_type
                - to_name
                - to_orig
              description: Detail of the call that was recorded.
              properties:
                from:
                  type: string
                  minLength: 1
                  description: 'The entity that initiated the call. Can be a PSTN number, a user, etc.'
                to:
                  type: string
                  minLength: 1
                  description: The entity to which the call was placed.
                codec:
                  type: string
                  minLength: 1
                  description: The codec that was use to connect the call.
                usage_record_id:
                  type: number
                  description: Unique ID assigned to this call record (CDR).
                start_time:
                  type: string
                  description: The time when the call started
                end_time:
                  type: string
                  minLength: 1
                  description: The time when the call ended.
                call_length:
                  type: number
                  description: The duration of the call in seconds.
                from_type:
                  type: string
                  minLength: 1
                  description: The type of entity that initiated the call.
                  example: 'user, phonenumber'
                from_name:
                  type: string
                  minLength: 1
                  description: 'If a user initiated the call, their name is listed here.'
                caller_id:
                  type: string
                  minLength: 1
                  description: The caller ID that was displayed to the recipient.
                to_type:
                  type: string
                  minLength: 1
                  description: 'The entity that answered the call such as `user`, `phonenumber`, etc.'
                to_name:
                  type: string
                  minLength: 1
                  description: A name or phone number identifying the destination.
                to_orig:
                  type: string
                  minLength: 1
                  description: A unique identifier for the destination.
      required:
        - resource
        - status
        - response
      examples:
        - resource: call_recording
          status: success
          response:
            call_recording_id: REd0ae0toi0000m0
            call_id: abCdEFgHIjKLmnopqRsTUvW.
            type: voice_call
            account_id: 20000000
            user_id: ''
            created_date: '20210609T10:26:22Z'
            voice_call_details:
              from: '12125550000'
              to: '2000000030'
              codec: PCMU
              usage_record_id: 200000000
              start_time: ''
              end_time: '20210609T10:26:34Z'
              call_length: 8
              from_type: phonenumber
              from_name: '12125550000'
              caller_id: '12125550000'
              to_type: user
              to_name: Ken Adams
              to_orig: 12125550000@251.270.74.303
    Call-recording-list:
      description: ''
      type: object
      x-examples:
        example-1:
          resource: call_recording
          status: success
          response:
            - call_recording_id: REd2aeicoi6345m4
              type: voice_call
              account_id: 20000000
              user_id: ''
              created_date: '20210609T11:03:00Z'
              file:
                type: mp3
                size: 39744
                file_id: FT7NfwqNiO060921110300
                file_access_details:
                  url: 'https://example.amazonaws.com/sonetel-call-records.sample-region/2021-06-09/FT7NfwqNiO060921110300.mp3?AUTH_HEADERS'
                  issued_at: '20210719T09:28:48Z'
                  expires_at: '20210726T09:28:48Z'
              voice_call_details:
                from: '12125550000'
                to: '200000000'
                codec: PCMU
                usage_record_id: 201425671
                start_time: ''
                end_time: '20210609T11:03:14Z'
                call_length: 10
                from_type: phonenumber
                from_name: '12125550000'
                caller_id: '12125550000'
                to_type: user
                to_name: John Doe
                to_orig: 12125550001@289.12.23.542
            - call_recording_id: REd2ae3toi6345m4
              type: voice_call
              account_id: 20000000
              user_id: ''
              created_date: '20210609T10:26:22Z'
              file:
                type: mp3
                size: 30816
                file_id: 7gPrFgS8Wm060921102622
                file_access_details:
                  url: 'https://example.amazonaws.com/sonetel-call-records.sample-region/2021-06-09/7gPrFgS8Wm060921102622.mp3?AUTH_HEADERS'
                  issued_at: '20210719T09:28:48Z'
                  expires_at: '20210726T09:28:48Z'
              voice_call_details:
                from: '12125550000'
                to: '200000000'
                codec: PCMU
                usage_record_id: 201425651
                start_time: ''
                end_time: '20210609T10:26:34Z'
                call_length: 8
                from_type: phonenumber
                from_name: '12125550000'
                caller_id: '12125550000'
                to_type: user
                to_name: John Doe
                to_orig: 12125550001@289.12.23.542
            - call_recording_id: REd2a4mboi6345m4
              type: voice_call
              account_id: 20000000
              user_id: ''
              created_date: '20210609T06:44:34Z'
              file:
                type: mp3
                size: 26496
                file_id: zAZkgYJJDU060921064434
                file_access_details:
                  url: 'https://example.amazonaws.com/sonetel-call-records.sample-region/2021-06-09/zAZkgYJJDU060921064434.mp3?AUTH_HEADERS'
                  issued_at: '20210719T09:28:48Z'
                  expires_at: '20210726T09:28:48Z'
              voice_call_details:
                from: '12125550000'
                to: '200000000'
                codec: PCMU
                usage_record_id: 201425524
                start_time: ''
                end_time: '20210609T06:44:46Z'
                call_length: 7
                from_type: phonenumber
                from_name: '12125550000'
                caller_id: '12125550000'
                to_type: user
                to_name: John Doe
                to_orig: 12125550001@289.12.23.542
            - call_recording_id: REd2a4mioi6345m4
              type: voice_call
              account_id: 20000000
              user_id: ''
              created_date: '20210609T06:20:39Z'
              file:
                type: mp3
                size: 19872
                file_id: bAmrqaCZ3r060921062039
                file_access_details:
                  url: 'https://example.amazonaws.com/sonetel-call-records.sample-region/2021-06-09/bAmrqaCZ3r060921062039.mp3?AUTH_HEADERS'
                  issued_at: '20210719T09:28:48Z'
                  expires_at: '20210726T09:28:48Z'
              voice_call_details:
                from: '12125550000'
                to: '200000000'
                codec: PCMU
                usage_record_id: 201425520
                start_time: ''
                end_time: '20210609T06:20:48Z'
                call_length: 5
                from_type: phonenumber
                from_name: '12125550000'
                caller_id: '12125550000'
                to_type: user
                to_name: John Doe
                to_orig: 12125550001@289.12.23.542
            - call_recording_id: REd2a4a8oi6345m4
              type: voice_call
              account_id: 20000000
              user_id: ''
              created_date: '20210609T06:06:58Z'
              file:
                type: mp3
                size: 31104
                file_id: HGmD6k1cvC060921060658
                file_access_details:
                  url: 'https://example.amazonaws.com/sonetel-call-records.sample-region/2021-06-09/HGmD6k1cvC060921060658.mp3?AUTH_HEADERS'
                  issued_at: '20210719T09:28:48Z'
                  expires_at: '20210726T09:28:48Z'
              voice_call_details:
                from: '12125550000'
                to: '200000000'
                codec: PCMU
                usage_record_id: 201425514
                start_time: ''
                end_time: '20210609T06:08:04Z'
                call_length: 8
                from_type: phonenumber
                from_name: '12125550000'
                caller_id: '12125550000'
                to_type: user
                to_name: John Doe
                to_orig: 12125550001@289.12.23.542
      properties:
        resource:
          type: string
          minLength: 1
          description: The name of the resource this response is from.
        status:
          type: string
          minLength: 1
          description: The status of the response i.e. success or failed.
        response:
          type: array
          uniqueItems: true
          minItems: 1
          description: Response object with the details of the call recordings
          items:
            type: object
            properties:
              call_recording_id:
                type: string
                minLength: 1
                description: Unique ID assigned to identify each call recording.
              type:
                type: string
                minLength: 1
                description: The type of call recording. Only `voice_call` supported at the moment.
              account_id:
                type: number
                description: Your Sonetel account ID
              user_id:
                type: string
                description: 'If the call recording is assigned to a user, this property lists the user_id.'
              created_date:
                type: string
                minLength: 1
                description: The timestamp when the call recording was created.
              file:
                type: object
                description: 'Details of the call recording file object such as the size, download URL and so on.'
                properties:
                  type:
                    type: string
                    minLength: 1
                    description: 'File type such as mp3, etc.'
                  size:
                    type: number
                    description: File size in bytes.
                  file_id:
                    type: string
                    minLength: 1
                    description: Unique file ID.
                  file_access_details:
                    type: object
                    required:
                      - url
                      - issued_at
                      - expires_at
                    properties:
                      url:
                        type: string
                        minLength: 1
                        description: Link to download the file.
                      issued_at:
                        type: string
                        minLength: 1
                        description: Timestamp when the download link was created.
                      expires_at:
                        type: string
                        minLength: 1
                        description: Timestamp when the download link will expire.
                required:
                  - type
                  - size
                  - file_id
                  - file_access_details
              voice_call_details:
                type: object
                description: Details of the call that was recorded.
                properties:
                  from:
                    type: string
                    minLength: 1
                    description: '''The entity that initiated the call. Can be a PSTN number, a user, etc.'
                  to:
                    type: string
                    minLength: 1
                    description: The entity to which the call was placed.
                  codec:
                    type: string
                    minLength: 1
                    description: The codec that was use to connect the call.
                  usage_record_id:
                    type: number
                    description: Unique ID assigned to this call record (CDR)
                  start_time:
                    type: string
                    description: The time when the call started.
                  end_time:
                    type: string
                    minLength: 1
                    description: The time when the call ended.
                  call_length:
                    type: number
                    description: The duration of the call in seconds.
                  from_type:
                    type: string
                    minLength: 1
                    description: 'The type of entity that initiated the call. For example `user`, `phonenumber`.'
                  from_name:
                    type: string
                    minLength: 1
                    description: 'If a user initiated the call, their name is listed here otherwise it shows the phone number of the source.'
                  caller_id:
                    type: string
                    minLength: 1
                    description: The caller ID that was displayed to the recipient.
                  to_type:
                    type: string
                    minLength: 1
                    description: 'The entity that answered the call such as `user`, `phonenumber`, etc.'
                  to_name:
                    type: string
                    minLength: 1
                    description: A name or phone number identifying the destination.
                  to_orig:
                    type: string
                    minLength: 1
                    description: A unique identifier for the destination.
                required:
                  - from
                  - to
                  - codec
                  - usage_record_id
                  - start_time
                  - end_time
                  - call_length
                  - from_type
                  - from_name
                  - caller_id
                  - to_type
                  - to_name
                  - to_orig
            required:
              - call_recording_id
              - type
              - account_id
              - user_id
              - created_date
      required:
        - resource
        - status
        - response
      examples:
        - resource: call_recording
          status: success
          response:
            - call_recording_id: REd0ae0toi0000m0
              call_id: abCdEFgHIjKLmnopqRsTUvW
              type: voice_call
              account_id: 20000000
              user_id: ''
              created_date: '20210609T10:26:22Z'
            - call_recording_id: REd0ae0toi44001a
              call_id: abCdEFgHIjKLmnopqRsXWlE
              type: voice_call
              account_id: 20000000
              user_id: ''
              created_date: '20210619T14:26:22Z'
            - call_recording_id: REd0ae0toi33002b
              call_id: abCdEFgHIjKLSetJxRsTUvW
              type: voice_call
              account_id: 20000000
              user_id: ''
              created_date: '20210629T18:36:22Z'
  securitySchemes:
    Production:
      type: oauth2
      flows:
        password:
          tokenUrl: 'https://api.sonetel.com/SonetelAuth/beta/oauth/token'
          scopes:
            account.admin.read: Account admin read
            account.admin.write: Account admin write
          refreshUrl: 'https://api.sonetel.com/SonetelAuth/beta/oauth/token'
    Staging:
      type: oauth2
      flows:
        password:
          tokenUrl: 'https://chat-api.sonetel.com/SonetelAuth/1.3/oauth/token'
          refreshUrl: 'https://chat-api.sonetel.com/SonetelAuth/1.3/oauth/token'
          scopes:
            account.admin.read: Account admin read
            account.admin.write: Account admin write
security:
  - Production: []
  - Staging: []
